
<div class="container-xl">
    <div class="row light">
        <div class="col">
            * Keep it simpple, no need search or paging, just dump all users in one big list.
            but do need header sorting<br>
            1. View - view profile, credit, attendance<br/>
            2. Edit - edit profile, Family members, password...etc<br/>
            3. Credit - manually enter credit amount once user transferred to our bank account.
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Username</th>
                    <th scope="col">IM ID</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Joined On</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Kevinw</th>
                    <td>Superwalnut</td>
                    <td>0433789456</td>
                    <td>kevinw@gmail.com</td>
                    <td>Feb 12, 2019</td>
                    <td><a href="#" title="view profile, credit, attendance">View</a> | <a href="#">Edit</a> | <a href="#">Credit</a></td>
                  </tr>
                  <tr>
                    <th scope="row">viking</th>
                    <td>Luc</td>
                    <td>0413780136</td>
                    <td>bei2004@gmail.com</td>
                    <td>Jan 1, 2018</td>
                    <td><a href="#" title="view profile, credit, attendance">View</a> | <a href="#">Edit</a> | <a href="#">Credit</a></td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>