<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="card">
        <div class="card-body p-4">
          <h1>All Users</h1>
          <p>Total Users: {{totalUserCount}}</p>
          <a routerLink="/admin/usergrade" *ngIf="isGod">User grade</a>
     
          <p>
            <mat-form-field>
              <mat-label>Search user</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Search by name" #input>
            </mat-form-field>
          </p>

          <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'unpaid-bg':element.user.requireChangePassword}"> 
                  <img src="{{element.user.avatarUrl}}" class="avatar" *ngIf="element.user.avatarUrl"> 
                   {{element.user.name}} 
                </td>
            </ng-container>

            <!-- Balance -->
            <ng-container matColumnDef="iscredituser">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>User Type</th>
              <td mat-cell *matCellDef="let element">
                <mat-icon title="{{element.iscredituser ? 'HBCoin user' : 'Cash user'}}">{{element.iscredituser ? 'monetization_on' : 'payments'}}</mat-icon>
              </td>
            </ng-container>


            <ng-container matColumnDef="families">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Families </th>
              <td mat-cell *matCellDef="let element">
                  {{element.families?.join(", ")}}
              </td>
            </ng-container>

            <ng-container matColumnDef="grade">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Grade </th>
              <td mat-cell *matCellDef="let element"> 
                {{element.grade}} 
              </td>
            </ng-container>

            <ng-container matColumnDef="created">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created on </th>
              <td mat-cell *matCellDef="let element" class="timestamp"> 
                {{element.created.toDate() | date: 'dd/MM/yyyy HH:mm'}} 
              </td>
          </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="docId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
              <td mat-cell *matCellDef="let element"> 
                <button mat-button routerLink="/admin/userdetails/{{element.user.docId}}">Details</button>
                <button mat-button routerLink="/admin/usercredits/{{element.user.docId}}">Credit</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <span class="unpaid-bg">Users who never logged in</span>

      </div>
      </div>
    </div>
  </div>
</div>
