<div class="container-xl">
  <div class="row light">
    <div class="col">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Display name</th>
            <th scope="col">Phone</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Superwalnut</th>
            <td>0433789456</td>
            <td>
              <a
                routerLink="/admin/userdetails"
                title="view profile, credit, attendance"
                >Detail</a
              >
              |

              <a routerLink="/admin/usercredit">Credit</a>
            </td>
          </tr>
          <tr>
            <th scope="row">Luc</th>
            <td>0413780136</td>
            <td>
              <a
                routerLink="/admin/userdetails"
                title="view profile, credit, attendance"
                >Detail</a
              >
              |
              <a routerLink="/admin/usercredit">Credit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
