<app-public-header></app-public-header>

<div class="app">
  <div class="container">
    <div class="row light">
      <div class="col">
        <h1 class="section-heading">This Week's Events</h1>
      </div>
    </div>

    <div class="row light">
      <div class="col">

        <table class="table table-hover table-dark booking">
        
          <tbody>
            <tr *ngFor="let g of groups">
              <td>{{ g.groupName}}</td>
              <td>{{ g.eventStartDay }}</td>
              <td><button type="button" class="btn btn-primary" routerLink="/booking">Book</button></td>
          </tr>
          </tbody>
        </table>
          



      </div>
    </div>



  </div>
</div>

<footer class="app-footer">
    <div>
        <a href="https://hbc666.club">HBC</a>
        <span>&copy; 2021.</span>
    </div>
    <div class="ml-auto">
        <a routerLink="termsconditions">Terms & Conditions</a>
    </div>
</footer>


