<app-public-header></app-public-header>

<div class="app">
  <div class="container">
    <div class="row light">
      <div class="col">
        <h1 class="section-heading text-center">{{weekStart.toDate() | date:'MMM dd'}} - {{weekEnd.toDate() | date:'MMM dd, yyyy'}}</h1>
      </div>
    </div>

    <div class="row light" *ngIf="bookings.length==0">
      
      <div class="col-sm">
        <div class="bookingoffline">
          <h2>OFFLINE</h2>
          <h3>Have faith in your heart, the booking shall be online soon!</h3>
        </div>
        
      </div>
      <div class="col-sm">
        <div class="bookingofflineimg">
          <img src="assets/img/banners/legobadminton.jpg" alt="lego badminton">
        </div>
          
      </div>
      
    </div>
    

    <!-- <div class="row light">
      <div class="col" *ngFor="let b of bookings" >
        <mat-card class="card-sm booking"> 
          <a routerLink="/booking/{{b.docId}}/{{b.groupDocId}}">
          <mat-card-header>
            <mat-card-title>{{ getGroupName(b.groupDocId)}} </mat-card-title>
          </mat-card-header>
          
          <img mat-card-image src="assets/img/banners/badminton.jpg">
          <mat-card-content>
            <p>{{ getGroupDesc(b.groupDocId)}} Seats: {{seatsLimit}}</p>
            <p>{{ b.eventStartDateTime.toDate() | date: 'dd/MM/yyyy HH:mm'}}</p>
          </mat-card-content>
        </a>
        </mat-card> 
        
      </div>      
    </div> -->

    <div class="row light">
      <div class="col-sm-4" *ngFor="let b of bookings" >
        <!-- <div [ngClass]="{'card offline':b.isOffline, 'card':!b.isOffline}"> -->
          <div class="card horverEffects" [ngClass]="{'offline':b.isOffline}">
          <a routerLink="/booking/{{b.docId}}/{{b.groupDocId}}"><img class="card-img-top" src="assets/img/banners/badminton2.jpg"></a>
          <div class="card-body">
            <!-- <h5 class="card-title">{{ getGroupName(b.groupDocId)}} {{ b.eventStartDateTime.toDate() | date: 'fullDate'}}</h5> -->
            <h5 class="card-title">{{ b.eventStartDateTime.toDate() | date: 'fullDate'}}</h5>
            <p class="card-text text-muted">{{ getGroupDesc(b.groupDocId)}} <span class="material-icons">chair</span> {{seatsLimit}}</p>
            <!-- <a routerLink="/booking/{{b.docId}}/{{b.groupDocId}}" class="btn btn-primary btn-large btn-block">Book</a> -->
            <div class="booknow">
              {{b.isOffline ? 'Offline':''}}
              <a routerLink="/booking/{{b.docId}}/{{b.groupDocId}}" *ngIf="!b.isOffline">
                Book now <span class="material-icons">east</span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row light" *ngIf="isLoggedIn">
      <div class="col">

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                My AutoBookings
              </mat-panel-title>
              <mat-panel-description>
                <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                Let the robot does the weekly booking for you!
              </mat-panel-description>
            </mat-expansion-panel-header>
            
            <ul class="simple-horizontal-list">
              <li><button type="button" routerLink="/settings/schedule" class="btn btn-primary">Manage AutoBooking</button></li>
              <li><a routerLink="/termsconditions">AutoBooking Policy</a></li>
            </ul>

            <table class="table table-borderless" *ngIf="mySchedules?.length > 0">
              <thead>
                <tr>
                  <th scope="col">Session</th>
                  <th scope="col">User</th>
                  <th scope="col">Expire on</th>
                  <th scope="col">Status</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of mySchedules">
                  <td>{{ s.groupName }}</td>
                  <td>{{ s.user.name }}</td>
                  <td>{{ s.expireOn.toDate() | date: 'dd/MM/yyyy' }}</td>
                  <td>
                    {{ getExpiryStatus(s)}}
                  </td>
                  
                </tr>
              </tbody>
            </table>
          </mat-expansion-panel>
        </mat-accordion>
        <p style="height: 25px;"></p>

      </div>
    </div>

  </div>
</div>

<footer class="app-footer">
    <div>
        <a href="https://hbc666.club">HBC</a>
        <span>&copy; 2021.</span>
    </div>
    <div class="ml-auto">
        <a routerLink="termsconditions">Terms & Conditions</a>
    </div>
</footer>


