<app-public-header></app-public-header>

<div class="app">
  <div class="container">
    <div class="row light">
      <div class="col">
        <h1 class="section-heading">This Week's Events</h1>
      </div>
    </div>
    <div class="row light">
      <div class="col">
        
        <mat-card *ngFor="let g of groups" class="card-sm booking"> 
          <a routerLink="/booking/{{g.docId}}">
          <mat-card-header>
            <mat-card-title>{{g.groupName}}</mat-card-title>
          </mat-card-header>
          
          <img mat-card-image src="assets/img/banners/badminton.jpg">
          <mat-card-content>
            <p>{{g.groupDesc}}</p>
          </mat-card-content>
        </a>
        </mat-card> 
        

      </div>      
    </div>

  </div>
</div>

<footer class="app-footer">
    <div>
        <a href="https://hbc666.club">HBC</a>
        <span>&copy; 2021.</span>
    </div>
    <div class="ml-auto">
        <a routerLink="termsconditions">Terms & Conditions</a>
    </div>
</footer>


