<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="card">
        <div class="card-body p-4">
          <h1>Groups</h1>
          <h3>Manage groups</h3>
          <button mat-raised-button color="primary" routerLink="/admin/groupdetails" *ngIf="isGod">New group (god only button!)</button>

          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <!-- <ng-container matColumnDef="endDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>End</th>
              <td mat-cell *matCellDef="let element">
                {{ element.endDate.toDate() | date: "yyyy/MM/dd" }}
              </td>
            </ng-container> -->

            <ng-container matColumnDef="committees">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Committees
              </th>
              <td mat-cell *matCellDef="let element">{{ element.committees?.length || 0}}</td>
            </ng-container>

            <ng-container matColumnDef="groupName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.groupName }}
              </td>
            </ng-container>
            <!-- <ng-container matColumnDef="groupDesc">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Desc</th>
              <td mat-cell *matCellDef="let element">
                {{ element.groupDesc }}
              </td>
            </ng-container> -->

            <ng-container matColumnDef="isClosed">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Closed</th>
              <td mat-cell *matCellDef="let element">{{ element.isClosed }}</td>
            </ng-container>

            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-button routerLink="/admin/groupdetails/{{ element.docId }}">Edit</button>
                <button mat-button routerLink="/admin/bookings/{{ element.docId }}">Bookings</button>
                <button mat-button routerLink="/admin/groupexpense/{{ element.docId}}">Adjust</button>
                <button mat-button color="accent" routerLink="/admin/rptincome/{{element.docId}}">Dividend</button>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
