
<!-- Modal -->
<div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Base Skill Level Points Requirement</h1>
      <button type="button" class="close" (click)="onNoClick()"><span aria-hidden="true">&times;</span></button>
    </div>
  
    <form [formGroup]="gradeForm" (ngSubmit)="onSubmit()">

    <div class="modal-body">

      <h3>Grade Points reference table</h3>
      <p>Scale 0 - 10, the higher the better skills</p>
        <ul>
        <li>O - 10 ERIC</li>
        <li>A - 8 ZAKA</li>
        <li>B - 6 MATT</li>
        <li>C - 6 LUC</li>
        <li>D - 4 GARY</li>
        <li>E - 2 Du</li>
        <li>F - 0 JACK</li>
        </ul>

            
            <mat-form-field appearance="fill">
                <mat-label>Grade</mat-label>
                <mat-select  formControlName="grade">
                    <mat-option *ngFor="let gradeName of gradeNames" [value]="gradeName">{{gradeName}}</mat-option>
               
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Grade points</mat-label>
                <input matInput placeholder="decimal 0-10" type="number" formControlName="gradePoints" autocomplete="off" required />
            </mat-form-field>
            <div class="modal-footer">
                <button mat-raised-button (click)="onNoClick()">Close</button>
                <button mat-raised-button color="primary" [disabled]="gradeForm.invalid">Confirm</button>  
            </div>

            </div>

        </form>

  </div>
  
  