<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav>
        <div class="logo" routerLink="/"></div>
        <ul class="topnavlinks">
          <li>
            <a routerLink="/groups">SESSIONS</a>
          </li>
          <li>
            <a routerLink="/store">STORE</a>
          </li>

          <!-- <li>
            <a routerLink="/dashboard">DASHBOARD</a>
          </li> -->

          <li>
            <a routerLink="/termsconditions">FAQ</a>
          </li>

          <li *ngIf="!isLoggedIn">
            <a routerLink="/login">LOGIN</a>
          </li>

          <li *ngIf="isLoggedIn">
            <a routerLink="/dashboard">{{ name }}</a>
          </li>
          <!-- <li *ngIf="isLoggedIn">
            <a routerLink="/logout">Logout</a>
          </li> -->
        </ul>
      </nav>


    </div>
  </div>

</div>