<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav>
        <a href="#" class="nav-logo" title="hbc home">
          <!-- <img src="./assets/img/banners/HBClogo2.jpg" /> -->
          <img src="./assets/img/banners/HBClogoRed.jpg" />

        </a>

      
        <ul>
          <li>
            <a routerLink="/groups">Sessions</a>
          </li>
      
          <li>
            <a routerLink="/dashboard">Dashboard</a>
          </li>
      
          <li>
            <a routerLink="/termsconditions">FAQ</a>
          </li>
      
          <li *ngIf="!isLoggedIn">
            <a routerLink="/login">login</a>
          </li>
      
          <li *ngIf="isLoggedIn">
            <a routerLink="/settings/profile">{{ name }}</a>
          </li>
          <!-- <li *ngIf="isLoggedIn">
            <a routerLink="/logout">Logout</a>
          </li> -->
        </ul>
      </nav>

      
    </div>
  </div>

</div>
