<div class="app footer-fixed">
  <carousel>
    <slide>
      <img
        src="./assets/img/banners/test2.jpg"
        alt="first slide"
        style="display: block; width: 100%"
      />
    </slide>
    <slide>
      <img
        src="./assets/img/banners/test3.jpg"
        alt="second slide"
        style="display: block; width: 100%"
      />
    </slide>
  </carousel>

  <div class="container">
    <div class="row">
      <div class="col" style="background-color: #ffc107; height: 300px">
        <p>接龍</p>

        <div class="nav-item dropdown" dropdown>
          <button
            class="btn btn-secondary dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            dropdownToggle
            (click)="(false)"
          >
            Dropdown button 1111111111
          </button>
          <div
            class="dropdown-menu"
            *dropdownMenu
            aria-labelledby="simple-dropdown"
          >
            <a class="dropdown-item" href="#">Item</a>
            <a class="dropdown-item" href="#">Another item</a>
            <a class="dropdown-item" href="#">One more item</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col" style="background-color: #f86c6b; height: 300px">
        <p>asfasfd</p>
      </div>
    </div>

    <div class="row">
      <div class="col" style="background-color: #63c2de; height: 300px"></div>
    </div>
  </div>
</div>
