<div class="app footer-fixed">
  <div class="container">
    <div class="row light">
      <div class="col">
        <carousel>
          <slide>
            <img src="./assets/img/banners/groupphoto.jpg" alt="first slide" />
          </slide>
          <slide>
            <img src="./assets/img/banners/test3.jpg" alt="second slide" />
          </slide>
        </carousel>
      </div>
    </div>

    <div class="row light">
      <div class="col">
        <section>
          <h2>THIS WEEK'S BADMINTON SESSIONS</h2> 
          <table class="table table-hover table-dark booking">
            <thead>
              <tr>
                <th scope="col">Day</th>
                <th scope="col">Time</th>
                <th scope="col">Seats available</th>
                <th scope="col"></th>
                  
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">TUESDAY</th>
                <td>8-11PM</td>
                <td>16</td>
                <td><button
                  type="button"
                  class="btn btn-primary"
                  routerLink="booking"
            
                >
                  Book
                </button></td>
              </tr>
              <tr>
                <th scope="row">FRIDAY</th>
                <td>8-11PM</td>
                <td>5</td>
                <td><button
                  type="button"
                  class="btn btn-primary"
            
                >
                  Book
                </button></td>
              </tr>
              <tr>
                <th scope="row">SATURDAY</th>
                <td>5-8PM</td>
                <td>10</td>
                <td><button
                  type="button"
                  class="btn btn-primary"
            
                >
                  Book
                </button></td>
              </tr>

            </tbody>
          </table>



          <!-- <div class="list-group list-group-accent">
            <div
              class="list-group-item list-group-item-accent-success list-group-item-success"
            >
              <a routerLink="booking"
                >Tuesday Feb 12, 20:00-23:00, Spots: 8/16</a
              >
              <button type="button" class="btn btn-primary">Book</button>
            </div>
            <div
              class="list-group-item list-group-item-accent-success list-group-item-success"
            >
              <a routerLink="booking"
                >Friday Feb 15, 20:00-23:00, Spots: 25/40</a
              >
              <button type="button" class="btn btn-primary">Book</button>
            </div>
            <div
              class="list-group-item list-group-item-accent-danger list-group-item-danger"
            >
              <a routerLink="booking"
                >Saturday Feb 16, 17:00-20:00, Spots: 32/32</a
              >
              <button type="button" class="btn btn-primary disabled">
                FULL
              </button>
            </div>
          </div> -->
        </section>
      </div>
    </div>

    <div class="row light">
      <div class="col-sm">
        <div class="card">
          <img
            class="card-img-top"
            src="./assets/img/banners/mycredit.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">BALANCE</h5>
            <p class="card-number">$260</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">LAST RENEWED: 12/01/2021</li>
            <li class="list-group-item">LAST DEDUCTED: 10/02/2021</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">VIEW DETAILS</a>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="card">
          <img
            class="card-img-top"
            src="./assets/img/banners/badmintoncourt.jpg"
            alt="Card image cap"
          />

          <div class="card-body">
            <h5 class="card-title">ATTENDANCE</h5>
            <p class="card-number">66</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">WITHDRAW: 10</li>
            <li class="list-group-item">RANK: 4</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">VIEW DETAILS</a>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="card">
          <img
            class="card-img-top"
            src="./assets/img/banners/test2.jpg"
            alt="Card image cap"
          />

          <div class="card-body">
            <h5 class="card-title">SCHEDULE</h5>
            <p class="card-text">
              $10 to automate your booking schedule so you don't miss a session!
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="#" class="card-link">AUTO BOOKING</a>
            </li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">MY DASHBOARD</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 