<app-public-header></app-public-header>

<div class="app">
  <div class="container-fluid">
    <div class="row light" *ngIf="show">
      <div class="col-12">
        <div class="homepage-intro">
          <div class="intro-shade">
            <h1 class="mb-3">Hills Badminton <span class="yellow">Champions</span></h1>
            <button mat-raised-button color="accent" class="btn btn-primary mb-3" routerLink="/groups">Book Sessions</button>
            
            <h2 class="mt-5">Love of badminton</h2>
            <ul>
              <li>TUE 8 - 11PM, BUILDING 2 </li>
              <li>FRI 8 - 11PM, BUILDING 1</li>
              <li>SAT 8 - 11PM, BUILDING 2</li>
            </ul>
            <p>
              <span class="yellow">Member</span>: {{hbcCoinRate | currency}}
              <span class="mr-2 ml-2">|</span>
              <span class="yellow">Visitor</span>: {{hbcCashRate | currency}}
            </p>

            <div class="socialicons">
              <a href="https://www.facebook.com/groups/hbchome" target="_blank"><i
                  class="cib-facebook-f facebook"></i></a>
              <a href="https://www.youtube.com/channel/UCuMYy7h9al0UXcsTS6DG63A" target="_blank"><i
                  class="cib-youtube youtube"></i></a>
              <a href="mailto:hbc666.club@gmail.com" target="_blank"><i class="cib-gmail gmail"></i></a>
              <a href="https://g.page/badmintonworx-norwest?share" target="_blank"><i
                  class="cil-location-pin map"></i></a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-public-footer></app-public-footer>
      </div>
    </div>
  </div>
</div>

