<app-public-header></app-public-header>

<div class="app footer-fixed">

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="hero2">
          <h1>Life is a game, Badminton is serious!</h1>
          <button mat-raised-button color="accent" routerLink="/groups">Book badminton sessions</button>
  
        </div>
        
      </div>
      
    </div>
  <!-- </div>

  <div class="container-fluid"> -->

    <!-- <div class="row light">
      <div class="col">
        <div class="hero-section">

          <div class="left">
            <p class="hero">Life is a game,<br/> badminton is serious!</p>
          </div>
          <div class="right">
            <p><button mat-raised-button color="accent" routerLink="/groups">Book badminton sessions</button></p>

            <h3 class="hpbookingsection">My Bookings</h3>
            <ul class="hpbooking">
              <li *ngFor="let b of myBookings">
                <a routerLink="/booking/{{b.bookingDocId}}/{{b.groupDocId}}">{{b.displayText}}</a>
                <ul class="list-group list-group-horizontal">
                  <li *ngFor="let p of b.bookingPersons"><span class="dot" title="{{p.userDisplayName}}"></span></li>
                </ul>
              </li>
            </ul>
          </div>
          
        </div>

      </div>
    </div> -->

    <div class="row light" *ngIf="show">
      <div class="col">

          <div class="homepage-intro">
            <h2>HBC <img src="./assets/img/banners/love.png" width="28"> Badmintonworx Norwest 
              <a href="https://g.page/badmintonworx-norwest?share" target="_blank"><img src="./assets/img/banners/mapicon.png" width="30"/></a></h2>
            <h3>We run 3 badminton social sessions a week, 3 hours per session</h3>

            <!-- <h2 class="section-heading"> 
              WEEK <span class="badge badge-dark">{{weekStart.toDate() | date:'dd/MM/yyyy'}}</span> BADMINTON SESSIONS
            </h2> -->
            <ul>
              <li>TUESDAY 8-11PM</li>
              <li>FRIDAY 8-11PM</li>
              <li>SATURDAY 5-8PM</li>
            </ul>

            <!-- <p><button mat-raised-button color="accent" routerLink="/groups">Book badminton sessions</button></p> -->
            <p>$15 pay by <a routerLink="/termsconditions" target="_blank">HBCoin</a> or $17 pay by cash</p>

            <div class="socialicons">
              <a href="https://www.facebook.com/groups/hbchome" target="_blank"><img src="./assets/img/banners/f_logo_RGB-Blue_72.png"/></a>
              <a href="https://www.youtube.com/channel/UCuMYy7h9al0UXcsTS6DG63A" target="_blank"><img src="./assets/img/banners/youtube_social_circle_red.png"/></a>
              <a href="mailto:hbc666.club@gmail.com" target="_blank"><img src="./assets/img/banners/gmailicon.png"/></a>
              <a href="https://g.page/badmintonworx-norwest?share" target="_blank"><img src="./assets/img/banners/mapicon.png"/></a>
            </div>
          </div>
      </div>
    </div>

    <div class="row light">
      <div class="col">
        <div class="video-responsive">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/p2UEYZ-ENKk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="app-footer">
  <div>
    <a href="{{domain}}">HBC</a>
    <span>&copy; 2021.</span>
  </div>
  <div class="ml-auto">

    <a routerLink="/termsconditions">FAQs</a>
  </div>
</footer>
 