<app-public-header></app-public-header>

<div class="app footer-fixed">
  <div class="container">
    <!-- <div class="row light">
      <div class="col">
        <carousel>
          <slide>
            <img src="./assets/img/banners/groupphoto.jpg" alt="first slide" />
          </slide>
          <slide>
            <img src="./assets/img/banners/test3.jpg" alt="second slide" />
          </slide>
        </carousel>
      </div>
    </div> -->

    <div class="row light" *ngIf="show">
      <div class="col">
        <h2 class="section-heading">
          WEEK <span class="badge badge-dark">{{weekStart.toDate() | date:'dd/MM/yyyy'}}</span> BADMINTON SESSIONS
        </h2>
        
        <table class="table table-hover table-dark booking">
          <thead>
            <tr>
              <th scope="col">Sessions</th>
              <th scope="col" class="text-center">Seats</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let g of groups">
              <th scope="row">{{ g.eventStartDay}} {{ g.eventStartTime}}</th>
              <td class="text-center">{{ g.seats}}</td>
            </tr>
            <tr>
              <th></th>
              <td class="text-right">
                <button mat-raised-button color="accent" routerLink="/groups">Book badminton sessions</button>
                </td>
            </tr>
          </tbody>
        </table>

        <section *ngIf="isLoggedIn">

          <h2>My Current Bookings</h2>
          <table class="table table-sm">
            <tbody>
              <tr *ngFor="let b of myCurrentWeekBookings">
                <td scope="row">
                  <a routerLink="/booking/{{b.bookingDocId}}/{{b.groupDocId}}">{{ b.bookingDesc }}</a>
                  {{ b.userDisplayName}}</td>

            </tbody>
          </table>
        </section>


        <div class="video-responsive">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/p2UEYZ-ENKk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


      </div>
    </div>


    





  </div>
</div>

<footer class="app-footer">
  <div>
    <a href="https://hbc666.club">HBC</a>
    <span>&copy; 2021.</span>
  </div>
  <div class="ml-auto">
    <a routerLink="/termsconditions">Terms & Conditions</a>
  </div>
</footer>
