<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="card card-white">
        <div class="card-body p-4">
          <h1 class="section-heading">Batch Payment</h1>
          <div class="alert  alert-info">
            <div class="alert-icon"><span class="material-icons">info</span></div>
            <div class="alert-body">
              All batch payment credits are deducted from <b>[HBC]</b> account. Designed for admin to
              allocate reward credits to competition winners.
            </div>
          </div>

          <div class="p-3 mb-2 bg-danger text-white" *ngIf="hasError">Form has error</div>

          <form [formGroup]="form" (ngSubmit)="onAddBatch(recipientControl)">
            <p>
              From: <b><a routerLink="/admin/userdetails/{{hbcUserAccount.docId}}">HBC</a></b>
            </p>
            <p>
              To:
              <mat-form-field>
                <mat-label>Search recipient name</mat-label>
                <input type="text" matInput [formControl]="recipientControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let user of filteredUsers | async" [value]="user">{{user}}</mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </p>

            <mat-form-field appearance="fill">
              <mat-label>Category</mat-label>
              <mat-select formControlName="category" required>
                <mat-option *ngFor="let category of categories" [value]="category">
                  {{ category }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Amount</mat-label>
              <input matInput placeholder="amount" type="number" formControlName="amount" required autocomplete="off" />
            </mat-form-field>

            <mat-form-field>
              <mat-label>Note</mat-label>
              <input matInput placeholder="notes" formControlName="note" required autocomplete="off" />
            </mat-form-field>

            <p>
              <mat-checkbox class="example-margin" formControlName="sendEmail">Send email to user</mat-checkbox>
            </p>

            <button mat-raised-button *ngIf="!isLoading">Add to batch</button>

            <!-- <button mat-raised-button (click)="resetForm()">Reset</button> -->


          </form>



          <div *ngIf="creditBatch.length > 0">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Note</th>
                  <th scope="col">Amount</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of creditBatch">
                  <td>{{ c.userDisplayName }}</td>
                  <td>{{ c.category}}</td>
                  <td>{{ c.note}}</td>
                  <td class="{{ c.amount>0 ? 'text-success': 'text-danger'}}">{{ c.amount | currency}}</td>
                  <td><button mat-icon-button color="warn" title="withdraw" (click)="remove(c)">
                      <mat-icon>remove_circle</mat-icon>
                    </button></td>
                </tr>
              </tbody>
            </table>
            Total: {{totalAmount|currency}}
            <button mat-raised-button color="primary" (click)="processBatch()" *ngIf="!isLoading">Process batch</button>
            <mat-spinner diameter="20" color="accent" *ngIf="isLoading"></mat-spinner>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>