



<div class="container">

  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card">
        <div class="card-body">
          <a routerLink="/settings/password" class="card-link">Change Password</a>
          <a routerLink="/settings/family" class="card-link">Family Members</a>
          <a routerLink="/settings/creditstatement" class="card-link">Statement</a>
          <a routerLink="/settings/schedule" class="card-link">AutoBooking</a>
        </div>
      </div>
    </div>
  </div>


    <div class="row">
      <div class="col-md-10 mx-auto">

        <div class="card">
          <div class="card-body p-4">
            <app-manage-profile [userDocId]="account.docId" [isAdmin]="false"></app-manage-profile>
          </div>
        </div>
      </div>
    </div>
  </div>
