<app-public-header></app-public-header>

<div class="app dev">
    <div class="container">
        <div class="row light">
        <div class="col">
            <h1 class="text-center section-heading">
                {{'{'}} dev {{'}'}}
            </h1>
        </div>
        </div>
  
   <div class="row light">
        <div class="col-sm">
            <mat-accordion>
                  <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Themes
                    </mat-panel-title>
                  
                  </mat-expansion-panel-header>

                  <h2>Easter Manic - Pink Theme </h2>
                  <p>I had loads of fun creating this Easter skin, give it a crack if you are interested, email your CSS code to <a href="mailto:HBC666.club@gmail.com">HBC666.club@gmail.com</a>. We will dress up HBC website with your theme if selected!</p>
        
<pre>
//Easter Pink Theme
$default-color: #dd358a;//easter pink
$global-page-bg-color: white;
$global-link-color: #0367fa;
$default-color: #dd358a;//easter pink
$default-highlight-color: #c52274;
$nav-bar-color:$default-color; 
$nav-bar-logo: url(../assets/img/banners/HBCLogoWhite.png);
$nav-bar-text-color: white;
$nav-bar-link-hover-color: white;
$row-bg-color: white;
$section-header-text-color: black;
$simple-horizontal-list-text-color: black;

$hero-color1: $default-color;
$hero-color2: #dd358a;
$hero-color3: #df5099;
$hero-color4: #f92658;
$homepage-hero-text-color: white;
$homepage-hero-gradient: linear-gradient(180deg, rgba(57,3,75,1) 0%, rgba(68,3,89,1) 35%, rgba(98,3,130,1) 100%);
$homepage-hero-bg-img: '';
$homepage-intro-minheight: 430px;
$homepage-intro-color:#fff;
$homepage-intro-shade-color:rgba(0,0,0,0.6);
$homepage-intro-shade-link-color: white;
$homepage-intro-bg: url(../assets/img/banners/easterBG.jpg); //1138 x 450
$offline-quote-bg-color: $nav-bar-color;

//dashboard profile card
$profile-bg-img-url: url("../assets/img/banners/profilecard-easter-bg.jpg");
$profile-card-bg-color:#ffffff;
$profile-card-text-color: black;
$profile-button-color: $default-color;
$profile-button-highlight-color: $default-highlight-color;
$profile-link-bg-color: #fe59ad;
$profile-link-text-color: white;
$profile-link-bg-hover-color: $default-highlight-color;

//Card
$card-background-color: white;
$card-text-color: black;
$card-link-text-color: $global-link-color;
$card-table-text-color: black;
$card-mat-label-color: rgb(14, 13, 13);
$card-text-muted: #656363;
$session-card-bg-img:url("../assets/img/banners/session-card-easter.jpg");

//Modal dialog
$modal-content-background-color: white;
$modal-content-h3-color: black;

//booking tables
$table-bg-color: white;
$table-text-color: black;
$table-hover-text-color:white;
$table-hover-bg-color: $default-color; 
$booking-tbl-hightlight-color: #fafafa;

//Admin
$admin-table-row-inactive: #fafafa;

//footer
$footer-bg-color: #dd4593;
$footer-text-color: #fafafa;
$footer-link-hover-color: white;
$footer-logo-color: white;
$footer-real-bg-color: $nav-bar-color;
$footer-real-text-color: #ededed;
//Easter Pink Theme
</pre>  
        
                </mat-expansion-panel>
        
              </mat-accordion>




         
        </div>
      </div>

    </div>
  </div>
  
<app-public-footer></app-public-footer>
