<app-public-header></app-public-header>

<div class="container">
    <div class="row">
      <div class="col">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <h1 class="mt-5" style="text-align: center;">HBC Open 2023 Competition</h1>
              <div class="rules">
                <h2>规则: </h2>
                <ul>
                    <li>1.小组赛 21分，不换场地，没有setting，每组5进2</li>
                    <li>2.进10强，两两抽签决定对手，21分,不换场地，没有setting，10进5</li>
                    <li>3.进5强，两两抽签决定对手，1队轮空直接晋级前三，30分，15 分换场地，没有setting</li>
                    <li>4.最后三队决出前三</li>
                </ul>

                <h2>Rules:</h2>
                <ul>
                    <li>1. Group stage: Play to 21 points without changing the venue, no settings. Two teams from each group advance.</li>
                    <li>2. Top 10: Opponents drawn in pairs, play to 21 points without changing the venue, no settings. Five teams advance.</li>
                    <li>3. Top 5: Opponents drawn in pairs, one team gets a bye to the top three. Play to 30 points, change venue at 15 points, no settings.</li>
                    <li>4. Final three teams compete for the top three positions.</li>
                </ul>
              </div>
              <div class="court mt-4">
                <h2>Court Map</h2>
                <img class="responsive" src="/assets/img/hbc-open-2023/Court.jpg" />
              </div>
              <div class="p-10 mt-4">
                <h2>Intermediate Draws</h2>
                <img class="responsive" src="/assets/img/hbc-open-2023/A.jpg" />
                <img class="responsive" src="/assets/img/hbc-open-2023/B.jpg" />
                <img class="responsive" src="/assets/img/hbc-open-2023/C.jpg" />
                <img class="responsive" src="/assets/img/hbc-open-2023/D.jpg" />
                <img class="responsive" src="/assets/img/hbc-open-2023/E.jpg" />
              </div>
              
            </div>
          </div>
        </div>

      </div>

    </div>
</div>



<app-public-footer></app-public-footer>