<app-public-header></app-public-header>

<div class="container">
    <div class="row">
      <div class="col">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <h1 class="mt-5" style="text-align: center;">HBC Open 2023 Competition</h1>
              <div class="court mt-4">
                <h2>Court Map</h2>
                <img class="responsive" src="/assets/img/hbc-open-2023/Court.jpg" />
              </div>
              <div class="p-10 mt-4">
                <h2>Intermediate Draws</h2>
                <img class="responsive" src="/assets/img/hbc-open-2023/A.jpg" />
                <img class="responsive" src="/assets/img/hbc-open-2023/B.jpg" />
                <img class="responsive" src="/assets/img/hbc-open-2023/C.jpg" />
                <img class="responsive" src="/assets/img/hbc-open-2023/D.jpg" />
                <img class="responsive" src="/assets/img/hbc-open-2023/E.jpg" />
              </div>
              
            </div>
          </div>
        </div>

      </div>

    </div>
</div>



<app-public-footer></app-public-footer>