<div class="app">
  <div class="container">
    <div class="row light">
      <div class="col">
        <h1>BOOKINGS</h1>
      </div>
    </div>
    <div class="row light">
      <div class="col-sm">
        <section>
          <h3>TUESDAY 8PM-11PM</h3>

          <table class="table table-hover table-dark booking">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Payment</th>
                <th scope="col">
                  <button
                    type="button"
                    class="btn btn-primary disabled"
                    data-toggle="modal"
                    data-target="#exampleModalCenter"
                  >
                    Full
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Luc</td>
                <td><i class="cil-dollar"></i></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Kevin</td>
                <td><i class="cil-credit-card"></i></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Josh</td>
                <td><i class="cil-credit-card"></i></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Frank</td>
                <td><i class="cil-credit-card"></i></td>
                <td></td>
              </tr>
              <tr class="active">
                <th scope="row">5</th>
                <td>Thomas</td>
                <td><i class="cil-credit-card"></i></td>
                <td>
                  <i class="cil-minus"></i>
                </td>
              </tr>
              <tr class="active">
                <th scope="row">6</th>
                <td>Iris T</td>
                <td><i class="cil-credit-card"></i></td>
                <td>
                  <i class="cil-minus"></i>
                </td>
              </tr>
              <tr>
                <th scope="row" colspan="3">Waiting list</th>
                <th><i class="cil-plus"></i></th>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Yao</td>
                <td><i class="cil-credit-card"></i></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Kathy</td>
                <td><i class="cil-dollar"></i></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
      <div class="col-sm">
        <section>
          <h3>FRIDAY 8PM-11PM</h3>

          <table class="table table-hover table-dark booking">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Payment</th>
                <th scope="col">
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#exampleModalCenter"
                  >
                    Book
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Luc</td>
                <td><i class="cil-dollar"></i></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Kevin</td>
                <td><i class="cil-credit-card"></i></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Josh</td>
                <td><i class="cil-credit-card"></i></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Frank</td>
                <td><i class="cil-credit-card"></i></td>
                <td></td>
              </tr>
              <tr class="active">
                <th scope="row">5</th>
                <td>Thomas</td>
                <td><i class="cil-credit-card"></i></td>
                <td>
                  <i class="cil-minus" title="withdraw"></i>
                </td>
              </tr>
              <tr class="active">
                <th scope="row">6</th>
                <td>Iris T</td>
                <td><i class="cil-credit-card"></i></td>
                <td>
                  <i class="cil-minus" title="withdraw"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
      <div class="col-sm">
        <section>
          <h3>SATURDAY 5PM-8PM</h3>

          <table class="table table-hover table-dark booking">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Payment</th>
                <th scope="col">
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#exampleModalCenter"
                  >
                    Book
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Luc</td>
                <td><i class="cil-dollar"></i></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Kevin</td>
                <td><i class="cil-credit-card"></i></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Josh</td>
                <td><i class="cil-credit-card"></i></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Frank</td>
                <td><i class="cil-credit-card"></i></td>
                <td></td>
              </tr>
              <tr class="active">
                <th scope="row">5</th>
                <td>Thomas</td>
                <td><i class="cil-credit-card"></i></td>
                <td>
                  <i class="cil-minus" title="withdraw"></i>
                </td>
              </tr>
              <tr class="active">
                <th scope="row">6</th>
                <td>Iris T</td>
                <td><i class="cil-credit-card"></i></td>
                <td>
                  <i class="cil-minus" title="withdraw"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>

    <div class="row light">
      <div class="col">
        <h3>Bank Details</h3>
        PayID: 82741485323 (Type: ABN) <br />
        Account Name: HBC <br />
        BSB: 032111 Account: 335387<br />
        * 转账时请注明你的微信用户名以便核对. 并截屏微信给群管理员。
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">TUESDAY 8PM-11PM</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          You are signing up for HBC's Tuesday 8PM badminton social session.<br />
          You can sign up for all your family members plus 2 frends.
        </p>

        <h3>Your Family</h3>
        <table class="table table-sm">
          <tr>
            <td>
              <label class="switch switch-pill switch-primary">
                <input type="checkbox" class="switch-input" checked />
                <span class="switch-slider"></span>
              </label>
            </td>
            <td>Thomas T(You)</td>
          </tr>
          <tr>
            <td>
              <label class="switch switch-pill switch-primary">
                <input type="checkbox" class="switch-input" checked />
                <span class="switch-slider"></span>
              </label>
            </td>
            <td>Iris T</td>
          </tr>
          <tr>
            <td>
              <label class="switch switch-pill switch-primary">
                <input type="checkbox" class="switch-input" checked />
                <span class="switch-slider"></span>
              </label>
            </td>
            <td>Connie</td>
          </tr>
        </table>

        <h3>Your Friends</h3>
        <form>
          <div class="form-row align-items-center">
            <div class="col-auto">
              <label class="sr-only" for="inlineFormInput"
                >Name - typeahead</label
              >
              <input
                type="text"
                class="form-control mb-2"
                id="inlineFormInput"
                placeholder="Jane Doe"
              />
            </div>

            <div class="col-auto">
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="autoSizingCheck"
                />
                <label class="form-check-label" for="autoSizingCheck">
                  Use my credit
                </label>
              </div>
            </div>
          </div>
          <div class="form-row align-items-center">
            <div class="col-auto">
              <label class="sr-only" for="inlineFormInput"
                >Name - typeahead</label
              >
              <input
                type="text"
                class="form-control mb-2"
                id="inlineFormInput"
                placeholder="Jane Doe"
              />
            </div>

            <div class="col-auto">
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="autoSizingCheck"
                />
                <label class="form-check-label" for="autoSizingCheck">
                  Use my credit
                </label>
              </div>
            </div>
          </div>
        </form>

        <p>
          Please note: The registration will be closed 3 hours prior to the
          session start time. and your credit will be deducted after the
          closure.
        </p>
        <p>Happy Badminton!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          CANCEL
        </button>
        <button type="button" class="btn btn-primary">CONFIRM</button>
      </div>
    </div>
  </div>
</div>
