
<!-- Modal -->
<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title" id="exampleModalLongTitle">
      {{ data.group?.eventStartDay}} 
      <span class="badge badge-warning">{{ data.creditBalance | currency}}</span>
      <span class="badge badge-warning">{{data.isCreditUser ? "HBCoin":"Cash"}}</span>
    </h3>
    <button type="button" class="close" (click)="onNoClick()"><span aria-hidden="true">&times;</span></button>
  </div>

  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="hasError">Error: {{ errorMessage | json }}</div>
    <!-- <h3 *ngIf="data.isCreditUser">Credit Balance: <span class="badge badge-warning">{{ data.creditBalance | currency}}</span></h3> -->

    <div class="alert  alert-warning" *ngIf="data.isCreditUser && lowCredit && hasCredit && !data.isCommittee">
      <div class="alert-icon"><span class="material-icons">warning</span></div>
      <div class="alert-body">Your balance is low, pelase <a routerLink="/settings/creditstatement" target="_blank">top up</a> ASAP, or you won't be able to make bookings.</div>
    </div> 

    <!-- <div class="p-3 mb-2 bg-warning text-dark" *ngIf="data.isCreditUser && lowCredit && hasCredit && !data.isCommittee">
      Your balance is low, pelase <a routerLink="/settings/creditstatement" target="_blank">top up</a> ASAP, or you won't be able to make bookings.</div> -->
      <div class="alert  alert-danger" *ngIf="data.isCreditUser && !hasCredit && !data.isCommittee">
        <div class="alert-icon"><span class="material-icons">dangerous</span></div>
        <div class="alert-body">
          You don't have any credit left, please <a routerLink="/settings/creditstatement" target="_blank">top up</a> your credit now!
        </div>
      </div> 

      
    <!-- <div class="p-3 mb-2 bg-danger text-white" *ngIf="data.isCreditUser && !hasCredit && !data.isCommittee">You don't have any credit left, please <a routerLink="/settings/creditstatement" target="_blank">top up</a> your credit now!</div> -->

    
    <div class="alert  alert-danger" *ngIf="!data.isCreditUser && !hasCredit">
      <div class="alert-icon"><span class="material-icons">dangerous</span></div>
      <div class="alert-body">
        You have {{ data.creditBalance | currency }} in arrears, please <a routerLink="/settings/creditstatement" target="_blank">clear your debt</a> before booking!
      </div>
    </div> 

    <!-- <div class="p-3 mb-2 bg-danger text-white" *ngIf="!data.isCreditUser && !hasCredit">
      You have {{ data.creditBalance | currency }} in arrears, please <a routerLink="/settings/creditstatement" target="_blank">clear your debt</a> before booking!</div> -->

    
    <div *ngIf="data.isSeatsLeft && meetBasePoints">
      <h3>You & Your Family </h3>
  
      <ul class="simple-horizontal-list dark-text">
        <li *ngFor="let user of data.familyBookingUsers">{{ user.name }} <mat-slide-toggle [(ngModel)]="user.selected" (change)="onSelectionChange()"></mat-slide-toggle> &nbsp; &nbsp; &nbsp; </li>
      </ul>
      <!-- <table class="table table-sm table-borderless">
        <tr *ngFor="let user of data.familyBookingUsers">
          <td>{{ user.name}}</td>
          <td style="text-align: right;"><mat-slide-toggle [(ngModel)]="user.selected" (change)="onSelectionChange()"></mat-slide-toggle></td>
        </tr>
      </table> -->

      <h3>Your Friends </h3>
      <!-- <mat-icon>help_outline</mat-icon> -->
      <!-- <p>Reserve sports for your friends if they don't have account in the system</p> -->

      <ul class="simple-horizontal-list dark-text">
        <li *ngFor="let user of data.friendBookingUsers">{{ user.name}} <mat-slide-toggle [(ngModel)]="user.selected" (change)="onSelectionChange()"></mat-slide-toggle> &nbsp; &nbsp; &nbsp; </li>
      </ul>
      <!-- <table class="table table-sm table-borderless">
        <tr *ngFor="let user of data.friendBookingUsers">
          <td>{{ user.name}} </td>
          <td style="text-align: right;"><mat-slide-toggle [(ngModel)]="user.selected" (change)="onSelectionChange()"></mat-slide-toggle></td>
        </tr>
      </table> -->

      <div class="booking-sum">Amount: ${{ totalAmount }} {{ data.isCreditUser ? "HBCoin" : "Cash"}}</div>
    </div>

    <div class="p-3 mb-2 bg-warning text-dark" *ngIf="!data.isSeatsLeft"><p>All seats are booked, pelase check back later should some seats freed up.</p></div>

    <div class="p-3 mb-2 bg-warning text-dark" *ngIf="!meetBasePoints">
      <p>We are sorry that this is a graded session, unfortunately you haven't met the level requirement.</p>
    </div>

    <div  *ngIf="hasCredit || data.isCommittee" class="modal-body-buttons">
      <button mat-raised-button (click)="onNoClick()">Close</button>
      <button mat-raised-button color="primary" (click)="onConfirmClick()" *ngIf="!isLoading && data.isSeatsLeft && meetBasePoints">Confirm</button>
      <mat-spinner diameter="30" *ngIf="isLoading"></mat-spinner>
    </div>


  </div>
  <!-- <div class="modal-footer" *ngIf="hasCredit || data.isCommittee">
    <button mat-raised-button (click)="onNoClick()">Close</button>
    <button mat-raised-button color="primary" (click)="onConfirmClick()" *ngIf="!isLoading && data.isSeatsLeft && meetBasePoints">Confirm</button>
    <mat-spinner diameter="30" *ngIf="isLoading"></mat-spinner>

  </div> -->
</div>

