<app-public-header></app-public-header>

<div class="app">
  <div class="container">
    <div class="row light">
      <div class="col">
        <h2 class="section-heading text-center">
          {{ booking?.eventStartDateTime.toDate() | date: 'EEEE, MMMM d'}}, 
          {{ group?.eventStartTime}} 
        </h2>
      </div>
    </div>

 <div class="row light" *ngIf="!booking?.isOffline">
      <div class="col-sm">
        <section> 
          <ul class="simple-horizontal-list">
            <li><span class="material-icons" title="{{ booking?.isLocked ? 'Booking Locked': 'Booking is open'}}">{{ booking?.isLocked ? 'lock':'lock_open'}}</span> {{ booking?.isLocked ? 'Locked':'Open'}}</li>
            <li><span class="material-icons">chair</span> {{seatsBooked}}/{{booking?.seatsOverwrite}}</li>
            <li>
              <!-- <span class="badge badge-success"> {{ user?.isCreditUser ? 'HBCoin' : 'Cash'}}</span>  -->
              <span class="material-icons">{{ user?.isCreditUser ? 'monetization_on' : 'payments'}} </span>
              <a routerLink="/settings/creditstatement" title="top up"><span [ngClass]="{ 'text-danger': creditBalance<0  }">{{creditBalance | currency}}</span></a></li>
                <li><mat-icon>settings</mat-icon><a routerLink="/settings/schedule">AutoBook</a></li>
            </ul>

            <div class="alert  alert-warning" *ngIf="!user?.isCreditUser">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <ul style="list-style: none; margin:0; padding: 0;">
                <li *ngIf="!user?.isCreditUser"><mat-icon>paid</mat-icon> Go cashless! Become an <a routerLink="/termsconditions">HBCoin</a>  user to enjoy cheaper rates and many more benefits! <a routerLink="/settings/creditstatement">Yes, I'm in!</a></li>
              </ul>
            </div> 

          <table class="table table-hover table-custom booking table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Payment</th>
                <th scope="col" >
                  <button type="button" class="btn btn-primary" (click)="bookClicked()" *ngIf="isSeatsLeft && !booking?.isLocked">Book</button>
                  <button mat-raised-button color="warn" *ngIf="!isSeatsLeft && !booking?.isLocked">Full</button>
                  <button mat-raised-button color="accent" *ngIf="booking?.isLocked">Locked</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of allLocalBookingUsers; let i=index" [ngClass]="{'mybooking':p.isMyBooking}">
                <td scope="row">{{ i+1 }}</td>
                
                <td>
                  <img src="{{p.avatarUrl}}" class="avatar" *ngIf="p.avatarUrl">
                  {{p.name}} 
                </td>
                <td><span class="material-icons" style="font-size: 18px;" title="{{getPaymentText(p.paymentMethod)}}">{{getPaymentClass(p.paymentMethod)}}</span></td>

                <td *ngIf="!booking?.isLocked">
                  <!-- <button mat-icon-button color="warn" (click)="deleteBooking(p)" *ngIf="p.isMyBooking"> -->
                  <button mat-icon-button color="warn" title="withdraw" (click)="withdrawClicked(p)" *ngIf="p.isMyBooking && !p.isForSale && !p.isLoading">
                    <mat-icon>remove_circle</mat-icon>
                  </button>

                  <button mat-raised-button color="accent" (click)="forSaleClicked(p)" *ngIf="p.isForSale && !p.isLoading">For sale</button>
                  <mat-spinner diameter="20" color="accent" *ngIf="p.isLoading"></mat-spinner>

                </td>
                <td *ngIf="booking?.isLocked">

                </td>
              </tr>  
              <tr>
                <td  style="padding-top: 25px;"></td>
                <td colspan="3" style="text-align: right; padding-top: 15px;">
                  <ul class="simple-horizontal-list">
                    <li style="margin-right:25px;"><span class="material-icons" style="font-size: 18px;">monetization_on</span> HBCoin</li>
                    <li><span class="material-icons" style="font-size: 18px;">payments</span> Cash</li>
                  </ul>
                  
                  
                </td>
                
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>

    <div class="row light" *ngIf="booking?.isOffline">
      <div class="col-sm">
        <section> 
          <div class="p-3 mb-2 bg-secondary text-dark">This session is offline.</div>
          <div class="offline-quote">
            <blockquote class="handwriting">
              {{getBadmintonLine().line }}
            </blockquote>
            <div class="handwriting-signature">
              {{getBadmintonLine().people }}
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<app-public-footer></app-public-footer>