<div class="app">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>BOOKINGS</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <section>
          <h3>TUESDAY 8PM-11PM</h3>

          <ul class="list-group">
            <li class="list-group-item">Quisque hendrerit orci</li>
            <li class="list-group-item">Maecenas dignissim iaculis</li>
            <li class="list-group-item">Aenean ligula neque</li>
            <li class="list-group-item">In rutrum ante tincidunt</li>
            <li class="list-group-item">Curabitur mollis suscipit quam</li>
          </ul>
        </section>
      </div>
      <div class="col-sm">
        <section>
          <h3>FRIDAY 8PM-11PM</h3>

          <ul class="list-group">
            <li class="list-group-item">Quisque hendrerit orci</li>
            <li class="list-group-item">Maecenas dignissim iaculis</li>
            <li class="list-group-item">Aenean ligula neque</li>
            <li class="list-group-item">In rutrum ante tincidunt</li>
            <li class="list-group-item">Curabitur mollis suscipit quam</li>
          </ul>
        </section>
      </div>
      <div class="col-sm">
        <section>
          <h3>SATURDAY 5PM-8PM</h3>

          <ul class="list-group">
            <li class="list-group-item">Quisque hendrerit orci</li>
            <li class="list-group-item">Maecenas dignissim iaculis</li>
            <li class="list-group-item">Aenean ligula neque</li>
            <li class="list-group-item">In rutrum ante tincidunt</li>
            <li class="list-group-item">Curabitur mollis suscipit quam</li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
