
<!-- Modal -->
<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ data.group?.groupName}} {{ data.group?.eventStartTime}}</h5>
      <button type="button" class="close" (click)="onNoClick()"><span aria-hidden="true">&times;</span></button>
    </div>
  
    <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="hasError">Error: {{ errorMessage }}</div>

      <div *ngIf="isWithdrawAllowed"> 
        <h2>Withdraw</h2>
        <p>Refund: {{data.inputBookingPerson.amount | currency}}</p>
        <p>We will see you next time!</p>

      </div>

      <div *ngIf="!isWithdrawAllowed"> 
        <h2>Withdraw is not allowed</h2>
        <p>Withdraw is only allowed {{bookingWithdrawHours}} hours before the session start.</p>
        <p>However, you can mark your seat [Up for sale]. credit will be refunded if someone take your spot.</p>
      </div>
  
    </div>
    <div class="modal-footer">
      <button mat-raised-button (click)="onNoClick()">Close</button>
      <button mat-raised-button color="warn" *ngIf="isWithdrawAllowed" (click)="withdrawClicked()">Withdraw</button>
      <button mat-raised-button color="primary" *ngIf="!isWithdrawAllowed" (click)="markForSaleClicked()">Up for sale</button>

      

      <mat-spinner diameter="30" *ngIf="isLoading"></mat-spinner>
  
    </div>
  </div>
  
  