
<div class="app-footer">
    <div class="container-fluid ">
        <div class="row ">

        <div class="col-sm">
            <h2><a routerLink="/">HBC</a></h2>
            <div class="slogan">Live Once, Play More</div>
        </div>

        <div class="col-sm">
            <p class="header">Quick Links</p>
            <ul>
            <li><a routerLink="/groups">Sessions</a></li>
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/competition">Competitions</a></li>
            <li><a routerLink="/termsconditions">FAQ</a></li>
            <li><a routerLink="/dev">{{'{'}} dev {{'}'}}</a></li>
            </ul>
        </div>

        <div class="col-sm">
            <p class="header">Contact</p>
            <address>2/2 Inglewood place<br/>Norwest, NSW</address>
            <p><b>Email:</b> HBC666.club@gmail.com</p>

            <div class="social-icons">
                <a href="https://www.facebook.com/groups/hbchome" target="_blank"><i class="cib-facebook-f facebook"></i></a>
                <a href="https://www.youtube.com/channel/UCuMYy7h9al0UXcsTS6DG63A" target="_blank"><i class="cib-youtube youtube"></i></a>
                <a href="mailto:hbc666.club@gmail.com" target="_blank"><i class="cib-gmail gmail"></i></a>
                <a href="https://g.page/badmintonworx-norwest?share" target="_blank"><i class="cil-location-pin map"></i></a>
            </div>
        </div>
        </div>
    </div>
</div>
  
  
<footer>        
    <p>Copyright &copy; <b>HBC</b> 2021.04.25</p>
    

</footer>
  