<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col mx-auto text-center">
          <a routerLink="">
            <img
              src="./assets/img/banners/HBClogo.jpg"
              alt=""
              style="width: 50px; margin-bottom: 20px"
            />
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form>
                <h1>Reset Password</h1>
                <p class="text-muted">Reset your password</p>

                <mat-form-field class="mat-field-m">
                  <mat-label>Your registered email</mat-label>
                  <input matInput placeholder="@" />
                </mat-form-field>
                <p>
                  <button mat-raised-button color="primary">
                    Send a password reset email
                  </button>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
