<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="card">
        <div class="card-body p-4">
          <h1>Auto Booking <span class="badge badge-warning">paid service</span></h1>
          <p>Jump the queue by automating your weekly booking for a small fee</p>
          <div class="p-3 mb-2 bg-warning text-dark"  *ngIf="!hasCredit">
            <p>Your current balance: {{myCreditBalance | currency}}</p>
            You don't have enought credit to use this service: mimium HBCoins required: {{ miniumCreditRequired | currency}}
          </div>
          <div class="p-3 mb-2 bg-warning text-dark"  *ngIf="!isCreditUser">
            <p>You don't have any HBCoins</p>
            Auto Booking is only available for HBCoins holders.
          </div>

          <div *ngIf="hasCredit && isCreditUser">
            <mat-form-field appearance="fill">
              <mat-label>Social sessions</mat-label>
              <mat-select [(ngModel)]="selectedGroup">
                <mat-option *ngFor="let g of groups" [value]="g" >{{g.eventStartDay}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="onSelectClicked()">Select</button>
          </div>
          

          <h2>My Auto Booking History</h2>

          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Session</th>
                <th scope="col">User</th>
                <th scope="col">Expire on</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of mySchedules">
                <td>{{ s.groupName }}</td>
                <td>{{ s.user.name }}</td>
                <td>{{ s.expireOn.toDate() | date: 'dd/MM/yyyy' }}</td>
                <td>
                  <span class="material-icons" title="{{ s.isPaused ? 'paused' : 'active' }}">{{ s.isPaused ? 'pause' : 'play_arrow' }}</span>
                </td>
                <td>
                  <button mat-button (click)="statusClicked(s)">{{ s.isPaused ? 'Resume' : 'Pause' }}</button>
                  <!-- <button mat-button (click)="deleteClicked(s)" color="warn">Delete</button> -->



                </td>

              </tr>
            </tbody>
          </table>



          <!-- <form [formGroup]="autoForm" (ngSubmit)="onSubmit()">

            <mat-form-field appearance="fill">
              <mat-label>Duration</mat-label>
              <mat-select formControlName="duration">
                <mat-option *ngFor="let d of durations" [value]="d">
                  {{d.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Social sessions</mat-label>
              <mat-select  multiple formControlName="sessions">
                <mat-option *ngFor="let g of groups" [value]="g">{{g.eventStartDay}}</mat-option>
              </mat-select>
            </mat-form-field>

            <button mat-raised-button color="primary" [disabled]="autoForm.invalid">CONFIRM</button>
          </form>

          <button (click)="createSchedulerClicked()">create</button> -->

        </div>
      </div>
    </div>
  </div>
</div>
