
<!-- Modal -->
<div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Auto booking scheduler</h1>
      <button type="button" class="close" (click)="onNoClick()"><span aria-hidden="true">&times;</span></button>
    </div>
  
    <div class="modal-body">
        <ul>
            <li>No refund is possible once setup</li>
            <li>You can pause your auto booking should you be away</li>
        </ul>

        <div *ngIf="isMaxAutoBookingLimitReached">
            <div class="p-3 mb-2 bg-warning  text-dark">Auto booking for this session is all full</div>
        </div>
        <!-- <div *ngIf="hasActiveAutoBooking">
            <div class="p-3 mb-2 bg-success text-white">You alrady have active auto bookings</div>
        </div> -->

        <div class="p-3 mb-2 bg-danger text-white" *ngIf="hasError">
            Errors: 
            Please specify minium 4 weeks, maxium 26 weeks and a user for Autobooking</div>


        <div>
            <mat-form-field>
            <mat-label>Weeks</mat-label>
            <input matInput placeholder="4-26 weeks" type="number" [(ngModel)]="numberWeeks" (input)="onWeekChange($event.target.value)" min="4" max="52" required autocomplete="off" />
            </mat-form-field>

            <mat-form-field appearance="fill">
            <mat-label>Users</mat-label>
            <mat-select [(ngModel)]="selectedUser">
                <mat-option *ngFor="let u of userSelectList" [value]="u" >
                {{u.name}}
                </mat-option>
            </mat-select>
            </mat-form-field>

            <p>{{totalCost | currency}} Valid till: <b>{{dayRange.end.toDate() | date:'dd/MM/yyyy'}}</b></p>
            
        </div>
        
    </div>
    <div class="modal-footer">
        <button mat-raised-button (click)="onNoClick()">Close</button>
        <button mat-raised-button  color="primary" (click)="onCreateClick()"  *ngIf="!isLoading && !isMaxAutoBookingLimitReached">Create</button>
        <mat-spinner diameter="30" *ngIf="isLoading"></mat-spinner>
    </div>
  </div>
  
  