<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <h1>Change Password</h1>
    <p class="text-muted">Password</p>
    <div class="input-group mb-3">
      <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput placeholder="" formControlName="password"/>
      </mat-form-field>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">password is required</div>
      </div>
    </div>
    <div class="input-group mb-4">
      <mat-form-field>
          <mat-label>Confirm password</mat-label>
          <input matInput placeholder="" formControlName="confirmPassword"/>
      </mat-form-field>
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required">confirm password is required</div>
      </div>
    </div>
    <p>
      <button mat-raised-button color="primary">Change</button>
    </p>
  </form>