<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <h1>Change Password</h1>
    <!-- <p class="text-muted">Password</p> -->
    <div class="input-group mb-3">
      <mat-form-field>
          <mat-label>New password</mat-label>
          <input matInput placeholder="" formControlName="password" autocomplete="off"/>
      </mat-form-field>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">password is required</div>
        <div *ngIf="f.password.errors.minlength">please enter a password with at least 6 characters</div>
      </div>
    </div>
    <div class="input-group mb-4">
      <mat-form-field>
          <mat-label>Confirm new password</mat-label>
          <input matInput placeholder="" formControlName="confirmPassword" autocomplete="off"/>
      </mat-form-field>
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required">confirm new password is required</div>
        <div *ngIf="f.confirmPassword.errors.minlength">please enter a password with at least 6 characters</div>
      </div>
    </div>
    <p>
      <button mat-raised-button color="primary">Change</button>
    </p>
  </form>