<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">

          <div class="card">
              <div class="card-body p-4">
                <h1 *ngIf="user">{{user.name}}'s Details</h1>
                <h3 *ngIf="user">Everything about {{user.name}}</h3>
                
                <mat-tab-group>
                  <mat-tab label="Profile">
                    <app-manage-profile [userDocId]="userDocId"></app-manage-profile>
                  </mat-tab>
                  <mat-tab label="Password">
                    <form class="mt-4" [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
                      <p>
                        <mat-form-field>
                          <mat-label>Password</mat-label>
                          <input matInput placeholder="" formControlName="password"/>
                        </mat-form-field>
                      </p>
                      <p>
                        <button mat-raised-button color="primary">Save</button>
                      </p>
                    </form>
                  </mat-tab>
                  <mat-tab label="Family members">
                    <app-manage-family [userDocId]="userDocId"></app-manage-family>
                  </mat-tab>
        
                  <mat-tab label="Credit Transactions">
                    <app-transaction-list [userDocId]="userDocId"></app-transaction-list>
                  </mat-tab>
                  <mat-tab label="Attendance">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Description</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">12/01/2021</th>
                          <td>Tuesday social</td>
                        </tr>
                        <tr>
                          <th scope="row">11/01/2021</th>
                          <td>Friday social</td>
                        </tr>
                        <tr>
                          <th scope="row">12/01/2021</th>
                          <td>Saturday social</td>
                        </tr>
                      </tbody>
                    </table></mat-tab
                  >
                </mat-tab-group>
              </div>
          </div>



      </div>
  </div>
</div>