<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">

          <div class="card">
              <div class="card-body p-4">
                <h1 *ngIf="user">{{user.name}}'s Details</h1>
                
                <mat-tab-group>
                  <mat-tab label="Profile">
                    <app-manage-profile [userDocId]="userDocId" [isAdmin]="true"></app-manage-profile>
                  </mat-tab>
                  <mat-tab label="Password">
                    <app-manage-password [userDocId]="userDocId" [isAdmin]="true"></app-manage-password>
                  </mat-tab>
                  <mat-tab label="Family members">
                    <app-manage-family [userDocId]="userDocId"></app-manage-family>
                  </mat-tab>
        
                  <mat-tab label="Statement">
                    <app-usercredit-list [userDocId]="userDocId" [isCreditUser]="user?.isCreditUser"></app-usercredit-list>
                  </mat-tab>
                  <mat-tab label="Booking History">
                    <app-attendance-list [userDocId]="userDocId"></app-attendance-list>
                  </mat-tab>
                </mat-tab-group>
              </div>
          </div>



      </div>
  </div>
</div>