<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col mx-auto text-center">
            <a routerLink="">
              <img
                src="./assets/img/banners/HBClogo.jpg"
                alt=""
                style="width: 50px; margin-bottom: 20px"
              />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                  <h1>Set a new Password</h1>
                  <p class="text-muted">Please enter a new password and remember it.</p>
  
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" formControlName="password"  placeholder="Password">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">password is required</div>
                      <div *ngIf="f.password.errors.minlength">please enter a password with at least 6 characters</div>
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" formControlName="confirmPassword"  placeholder="Repeat password">
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.confirmPassword.errors.required">confirm password is required</div>
                      <div *ngIf="f.confirmPassword.errors.minlength">please enter a password with at least 6 characters</div>
                    </div>
                  </div>                  <p>
                    <button mat-raised-button color="primary">
                      Confirm
                    </button>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  