<div class="container">
<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="card">
      <div class="card-body p-4">
        <h1>Credit Statement</h1>

        <p>
          Balance: $120
          <button mat-raised-button color="primary">Top up</button>
        </p>
        <p>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Bank Account</mat-card-title>
              <mat-card-subtitle>Transfer the amount and show admin the receipt</mat-card-subtitle>

            </mat-card-header>
            <mat-card-content>
              <p>
                <b>Bank Details</b>
                PayID: 82741485323 (Type: ABN)<br/>
                Account Name: HBC<br>
                BSB: 032111 Account: 335387<br/>
                * 转账时请注明你的微信用户名以便核对. 并截屏微信给群管理员
              </p>
            </mat-card-content>
          </mat-card>
        </p>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Description</th>
              <th scope="col">Amount</th>
              <th scope="col">Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">12/01/2021</th>
              <td>Tue Social</td>
              <td>-$13</td>
              <td>$120</td>
            </tr>
            <tr>
              <th scope="row">11/01/2021</th>
              <td>Add credit</td>
              <td>$100</td>
              <td>$133</td>
            </tr>
            <tr>
              <th scope="row">18/01/2021</th>
              <td>Fri Social</td>
              <td>-$13</td>
              <td>$20</td>
            </tr>
            <tr>
              <th scope="row">18/01/2021</th>
              <td>Sat Social session - pay for a friend</td>
              <td>-$13</td>
              <td>$30</td>
            </tr>
            <tr>
              <th scope="row">15/01/2021</th>
              <td>Tue Social - withdraw penalty</td>
              <td>-$13</td>
              <td>$30</td>
            </tr>
            <tr>
              <th scope="row">12/01/2021</th>
              <td>Won competition</td>
              <td>$20</td>
              <td>$60</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>