<div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="card">
          <div class="card-body p-4">
            {{booking?.weekDay}} 
            {{booking?.eventStartDateTime.toDate() |  date: "EE dd/MM/yyyy"}}
            <h3>
              <button mat-icon-button color="primary" (click)="toggleLockStatus()">
                <mat-icon>{{ booking?.isLocked ? 'lock': 'lock_open'}}</mat-icon>
              </button>

              <button mat-icon-button color="primary">
                <mat-icon>print</mat-icon>
              </button>
            </h3>


            <section title="Add new booking">
              <form>
                <mat-form-field>
                  <mat-label>Search player name</mat-label>
                  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let user of filteredUsers | async" [value]="user">{{user}}</mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Payment method</mat-label>
                  <mat-select (selectionChange)="selectedValue($event)">
                    <mat-option *ngFor="let method of paymentMethods" [value]="method">
                      {{method}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="createBooking(myControl)">Add</button>

                <!-- <button mat-raised-button color="primary" (click)="createBooking(myControl, myControl2)">Add</button> -->
              </form>
            </section>

            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">User</th>
                  <th scope="col">Payment</th>
                  <th scope="col">Amount</th>
                  <th scope="col">On</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of allLocalBookingUsers; let i=index" >
                  <td scope="row">{{ i+1 }} {{p.name}} {{p.isForSale}} <i class="cil-description" *ngIf="p.note"></i></td>
                  <td scope="row"><i class="{{getPaymentClass(p.paymentMethod)}}"></i></td>
                  <td scope="row">{{ p.amount | currency}}</td>
                  <td scope="row">{{p.createdOn.toDate() | date: "dd/MM/yyyy hh:MM"}}</td>
                  <td><i class="cil-minus"></i> <i class="cil-description"></i></td>
                </tr>
                <tr>
                  <th scope="row">Total {{total | currency}}</th>
                  <td colspan="4">Credit: {{totalCredit | currency}} Cash: {{totalCash | currency}} </td>
                </tr>
              </tbody>
            </table>

            <h1>TODO: adjustment field to be added</h1>

          </div>
        </div>
    
      </div>
    </div>
    
    
</div>
    