<div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="card">
          <div class="card-body p-4">
            {{booking?.weekDay}} 
            {{booking?.eventStartDateTime.toDate() |  date: "EE dd/MM/yyyy"}}
            <h3>
              <button mat-icon-button color="primary" (click)="toggleLockStatus()">
                <mat-icon>{{ booking?.isLocked ? 'lock': 'lock_open'}}</mat-icon>
              </button>

              <a href="#" data-toggle="modal" data-target="#printModal"><i class="cil-print"></i></a>
            </h3>

            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">User</th>
                  <th scope="col">Payment</th>
                  <th scope="col">On</th>
                  <th scope="col">
                    <a href="#" data-toggle="modal" data-target="#addPlayerModal"><i class="cil-plus"></i></a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of allLocalBookingUsers; let i=index" >
                  <td scope="row">{{ i+1 }} {{p.name}} {{p.isForSale}} <i class="cil-description"></i></td>
                  <td scope="row"><i class="{{getPaymentClass(p.paymentMethod)}}"></i></td>
                  <td scope="row">{{p.createdOn.toDate() | date: "yyyy/MM/dd hh:MM"}}</td>
                  <td><i class="cil-minus"></i> <i class="cil-description"></i></td>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td colspan="4">$300 Credit, $60 Cash</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
    
      </div>
    </div>
    
    
</div>
    