<div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="card">
          <div class="card-body p-4">
                    
     booking details


     <h3>
        <a href="#"><i class="cil-lock-locked"></i></a>
        <a href="#" data-toggle="modal" data-target="#printModal"
          ><i class="cil-print"></i
        ></a>
      </h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">User</th>

            <th scope="col">Payment</th>
            <th scope="col">On</th>
            <th scope="col">
              <a href="#" data-toggle="modal" data-target="#addPlayerModal"
                ><i class="cil-plus"></i
              ></a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              1 Kevin W ($110)
              <i class="cil-description" title="adfasf"></i>
            </th>

            <td>
              <a href="#" data-toggle="modal" data-target="#paymentModal"
                ><i class="cil-credit-card"></i
              ></a>
            </td>
            <td>12/03/2021 10:30</td>

            <td><i class="cil-minus"></i></td>
          </tr>
          <tr>
            <th scope="row">2 Josh ($80)</th>

            <td>
              <a href="#" data-toggle="modal" data-target="#paymentModal"
                ><i class="cil-dollar"></i
              ></a>
            </td>
            <td>12/03/2021 10:30</td>
            <td><i class="cil-minus"></i></td>
          </tr>
          <tr>
            <th scope="row">3 Indian Bro</th>

            <td>
              <a href="#" data-toggle="modal" data-target="#paymentModal"
                ><i class="cil-face-dead" title="unpaid"></i
              ></a>
            </td>
            <td>12/03/2021 10:30</td>
            <td><i class="cil-minus"></i></td>
          </tr>
          <tr>
            <th scope="row">Total</th>
            <td colspan="3">$300 Credit, $60 Cash</td>
          </tr>
          <tr>
            <th scope="row" colspan="4">Waiting List</th>
          </tr>
          <tr>
            <th scope="row">1 Alex</th>

            <td>
              <a href="#" data-toggle="modal" data-target="#paymentModal"
                ><i class="cil-credit-card"></i
              ></a>
            </td>
            <td>12/03/2021 10:30</td>
            <td><i class="cil-minus"></i></td>
          </tr>
        </tbody>
      </table>



      
               
    
          </div>
        </div>
    
      </div>
    </div>
    
    
    </div>
    