<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <h1>Update Profile</h1>
    <p class="text-muted">Profile</p>
    <div class="input-group mb-3">
      <mat-form-field>
        <mat-label>Display name</mat-label>
        <input matInput placeholder="" formControlName="name"/>
      </mat-form-field>
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Display name is required</div>
        <div *ngIf="f.name.errors.incorrect">name is already exist</div>
    </div>

    </div>
    <div class="input-group mb-3">
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput placeholder="" formControlName="mobile"/>
      </mat-form-field>
      <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
        <div *ngIf="f.mobile.errors.required">mobile is required</div>
        <div *ngIf="f.mobile.errors.incorrect">mobile is exist</div>
    </div>
    </div>
    
    <div class="input-group mb-3">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="" type="email" formControlName="email"/>
      </mat-form-field>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        <div *ngIf="f.email.errors.incorrect">email is already exist</div>
    </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" formControlName="gender" id="gridRadios1" value="Male">
            <label class="form-check-label" for="gridRadios1">
              Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" formControlName="gender" id="gridRadios2" value="Female">
            <label class="form-check-label" for="gridRadios2">
              Female
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <p>
      <button mat-raised-button color="primary">Update Profile</button>
    </p>
    
  </form>