<div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="card">
          <div class="card-body p-4">
            <h1>Booking History</h1>
            <div class="table-responsive-sm">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let bookings of myBookingHistory">
                    <th scope="row">{{ bookings.createdOn.toDate() | date: 'yyyy/MM/dd'}}</th>
                    <td>{{bookings.userDisplayName}}</td>
                    <td>{{bookings.bookingDesc}}</td>
                  </tr>             
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  