<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="card">
        <div class="card-body p-4">
          <h1>Attendance History</h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">12/01/2021</th>
                <td>Tuesday social</td>
              </tr>
              <tr>
                <th scope="row">11/01/2021</th>
                <td>Friday social</td>
              </tr>
              <tr>
                <th scope="row">12/01/2021</th>
                <td>Saturday social</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
