<!-- //Shared by both Admin and Users, show hide based on roles -->

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card balance-card">
        <div class="card-header">
          <h4 class="balance-title">{{ myCreditBalance | currency }}
            <br/><span>My Balance</span>
          </h4>
          <div class="split-line">|</div>
          <div class="topup-button">
            <a class="btn btn-warning" (click)="show_topup()" target="_blank">Topup</a>
            <span>Pay with stripe</span>
          </div>

          <div class="topup-options" *ngIf="showTopup">
            <a href="{{memberTopup50}}" target="_blank" class="btn btn-warning mt-2 mb-2 mr-2">$50</a>
            <a href="{{memberTopup100}}" target="_blank" class="btn btn-warning mt-2 mb-2 mr-2">$100</a>
            <a href="{{memberTopup170}}" target="_blank" class="btn btn-warning mt-2 mb-2 mr-2">$170</a>
            <a href="{{memberTopup300}}" target="_blank" class="btn btn-warning mt-2 mb-2 mr-2">$300</a>
            <a class="btn btn-secondary mt-2 mb-2 mr-2" (click)="show_topup()">Close</a>
        </div>
        </div>
        <div class="card-body">

          <h2 class="text-center mb-0 section-h2">Member Status</h2>
          <div class="member-status mb-4 card m-3">
            <div class="profile-bg">
              <div class="profile-avatar">
                <a routerLink="/settings/profile">
                  <img src="{{avatarUrl}}" alt="" /></a>
              </div>
            </div>
            <div class="status-text">
              <span *ngIf="user?.isCreditUser">
                Congratulations <strong>{{ user?.name }}</strong>! You are a HBC member and enjoy the member rates.
              </span>
              <span *ngIf="user?.isCreditUser == false">
                Hi <strong>{{ user?.name }}</strong>, topup $100+ to become a HBC member with discounted rates.
              </span>
            </div>
            <div class="badges">
              <img
                src="{{ user?.isCreditUser ? 'https://ik.imagekit.io/hbc666/hbc/misc/HBCoinBadge_S1zXPjjIa.png' : 'https://ik.imagekit.io/hbc666/hbc/misc/CashBadge_pGy17fceE.png'}}"
                title="{{ user?.isCreditUser ? 'HBCoin User' : 'Cash User'}}" />
            </div>
          </div>

          <!--Overviews-->
          <h2 class="text-center mb-0 section-h2">Overviews</h2>
          <div class="my-overviews mb-4 card m-3">
            <div class="points">
              <div class="sub-title">HBC Points</div>
              {{ myAttendanceCount }}<span>pts</span></div>
            <div class="last-play">
              <div class="sub-title">Last Play</div>
              {{lastPlayedDays}}<span>days</span>
            </div>
            <div class="active-hours">
              <div class="sub-title">Active Hrs</div>
              {{ myAttendanceCount * 3 }}<span>hrs</span>
            </div>
          </div>

          <!-- Next Sessions -->
          <div class="next-session mb-4 card m-3" *ngIf="upcomingBooking">
            <div class="card-body">
              <h5 class="card-title">Next Session</h5>
              <div class="card-sub-title">Starts in</div>
              <div class="sesstion-counter">{{countdown}}</div>
              <div>
                <a class="btn btn-warning book-button mt-2" target="_blank" (click)="sessionClicked(upcomingBooking)">Book now</a>
              </div>
            </div>
          </div>

          <!-- Upcoming Bookings -->
          <h2 class="text-center mb-0 section-h2">My Upcoming Bookings</h2>
            <div class="my-bookings mb-4 card m-3" *ngFor="let booking of myBookings">
              <div class="my-booking-header">
              </div>
              <div class="card-body">
                <h5 class="card-title">{{booking.bookingTitle}}</h5>
                <div class="card-text">{{booking.bookingDesc}}</div>
                <div class="date">{{booking.eventDate | date:'dd/MM/yyyy'}}</div>
                <div class="view">
                  <a routerLink="/booking/{{booking.bookingDocId}}/{{booking.groupDocId}}" class="btn btn-warning btn-sm" >View Booking</a>
                </div>
              </div>
            </div>
            <div class="my-bookings mb-4 m-3" *ngIf="myBookings.length<=0">
              <div class="alert alert-info" role="alert" >
                No bookings for this week yet. <a routerLink="/groups" class="btn-link" >Click here to book now</a>.
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

