<div class="app">
  <div class="container">
    <div class="row light">
      <div class="col">
        <h1>User Credit</h1>
        <h2>Current Balance: $260</h2>

        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Amount</mat-label>
            <input matInput type="number" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Notes</mat-label>
            <textarea matInput placeholder="notes is compulsory"></textarea>
          </mat-form-field>
        </p>
        <p>
          <button mat-raised-button color="primary">Add</button>
          <button mat-raised-button color="warn">Substract</button>
        </p>
      </div>
    </div>
  </div>
</div>
