<div class="app">
  <div class="container">
    <div class="row light">
      <div class="col">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <h1>{{user.wechatId}}'s Credit</h1>
          <h2>Current Balance: ${{balance | number: '2.2'}}</h2>
  
          <p>
            <mat-form-field class="example-full-width">
              <mat-label>Amount</mat-label>
              <input matInput type="number" />
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="example-full-width">
              <mat-label>Notes</mat-label>
              <textarea matInput placeholder="notes is compulsory"></textarea>
            </mat-form-field>
          </p>
          <p>
            <button mat-raised-button color="primary">Save</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
