<app-public-header></app-public-header>

  <div class="container">
    <div class="row light">
      <div class="col">

        <div class="scheduleHero">
          <h1>HBC Competitions</h1>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">HBC Open 2022</h5>
            <p class="card-text"></p>
            <a routerLink="/competition/2022" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">HBC Competition 2021</h5>
            <p class="card-text"></p>
            <a routerLink="/competition/2021" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>

      <div class="col-sm"></div>
      <div class="col-sm"></div>
    </div>
  </div>

        