<app-public-header></app-public-header>

<div class="container">
  <div class="row light">
    <div class="col">

      <div class="scheduleHero">
        <h1>HBC Competitions</h1>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">

      <mat-accordion>
        <!-- <mat-expansion-panel [expanded]="true"> -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              HBC Open 2022
            </mat-panel-title>
          </mat-expansion-panel-header>


          <h3><a routerLink="/competition/2022">Draws & Overviews</a></h3>


          <h3>Match Schedules</h3>
          <ul class="simple-list">
            <li><a href="#">Novice Group A</a></li>
            <li><a href="#">Novice Group B</a></li>
            <li><a href="#">Intermediate Group A</a></li>
            <li><a href="#">Intermediate Group B</a></li>
            <li><a href="#">Intermediate Group C</a></li>
            <li><a href="#">Intermediate Group D</a></li>

          </ul>



        </mat-expansion-panel>




      </mat-accordion>


      <!--       
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">HBC Open 2022</h5>
          <p class="card-text"></p>
          <a routerLink="/competition/2022" class="btn btn-primary">View</a>
        </div>
      </div> -->
    </div>
    <!-- <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">HBC Competition 2021</h5>
            <p class="card-text"></p>
            <a routerLink="/competition/2021" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>

      <div class="col-sm"></div>
      <div class="col-sm"></div> -->
  </div>
</div>