<app-public-header></app-public-header>

  <div class="container">
    <div class="row light">
      <div class="col">

        <div class="scheduleHero">
          <h1>2021 EOY Competition Schedule</h1>
          <h2>Dec 10, 2021 8PM</h2>
        </div>

        <div>
          <h2>Prize</h2>

          <ul>
            <li>Gold Team: 100 HBCoin</li>
            <li>Silver Team: 60 HBCoin</li>
            <li>Bronze Team: 40 HBCoin</li>
            <li>Group 1st Team (Who didn't make it to top 3): 20 HBCoin </li>
            <li>Lucky Draw: Badminton bag and racquet for all comp participants</li>
          </ul>

          <h2>Competition Format</h2>
          <ul>
            <li>Group Stage: Round Robin - Top 2 teams in each group advanced to final stage</li>
            <li>Final Stage: Single Elimination</li>

          </ul>
        </div>

        


        

        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
    
          <ng-container matColumnDef="group">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">Group</th>
            <td mat-cell *matCellDef="let element"> &nbsp; {{element.group}} </td>
          </ng-container>
        
          <ng-container matColumnDef="left">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by left">Left</th>
            <td mat-cell *matCellDef="let element"> {{element.left}} <code>{{element.handicap ? '+':''}}{{element.handicap}}</code></td>
          </ng-container>
        
          <ng-container matColumnDef="right">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by right">Right</th>
            <td mat-cell *matCellDef="let element"> {{element.right}} </td>
          </ng-container>
        
          <ng-container matColumnDef="court">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by court">Court</th>
            <td mat-cell *matCellDef="let element"> {{element.court}} </td>
          </ng-container>

          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by time">Time</th>
            <td mat-cell *matCellDef="let element"> {{element.time}}</td>
          </ng-container>

          <ng-container matColumnDef="umpire">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">Umpire</th>
            <td mat-cell *matCellDef="let element"> {{element.umpire}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


        <div class="pagebottom">
          <span class="badge badge-primary">Time</span> is only a rough estimate
        </div>


        <img src="./assets/img/banners/comp2021groups.svg" class="responsive">
        

      </div>
    </div>
  </div>

        