<div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="card">
          <div class="card-body p-4">
            <h1>Triggers</h1>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr>
                    <td>User migration</td>
                    <td>Import user from excel into new system</td>
                    <td><button mat-raised-button color="warn" (click)="importMainAccount()">Import Main Account</button>
                  </tr>

                  <tr>
                    <td>Email notification with login details</td>
                    <td>To inform user about how can they login to system for the first time</td>
                    <td><button mat-raised-button color="warn" (click)="email()">Email</button>
                  </tr> -->

                
                </tbody>
              </table>


            <h3>Test case</h3>
            <button mat-raised-button color="primary" (click)="getpassword()">Random password</button>

            <a (click)="onCombineDatesClick()">Combind dates</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  