<div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="card">
          <div class="card-body p-4">
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
              <h1>Update Password</h1>
              <p class="text-muted">Password</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" class="form-control" formControlName="password"  placeholder="Password">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">password is required</div>
                </div>
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" class="form-control" formControlName="confirmPassword"  placeholder="Repeat password">
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors.required">confirm password is required</div>
                </div>
              </div>
              <button type="submit" class="btn btn-block btn-success">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
