<!-- <app-public-header></app-public-header> -->

<!-- <video autoplay muted loop id="myVideo">
    <source src="/assets/img/banners/LindanCom.mp4" type="video/mp4">
  </video> -->

  


  

<div class="app offline-bg">
    <video autoplay muted playsinline loop>
        <source src="/assets/img/banners/LindanCom.mp4" type="video/mp4">
    </video>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                
                  
                <div class="logo" routerLink="/"></div>

                <div class="heading">
                    <h1>Off the net</h1>
                    <h2>Off the line</h2>
                </div>

                <hr/>
                
                <div class="message">
                    <p>Have faith in your heart, the booking shall be online soon!</p>
                    <div class="sm">
                        <p>* Booking usually opens on a warm Sunday afternoon</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-public-footer></app-public-footer>
