<div class="container-xl">
  <div class="row light">
    <div class="col">
      <h1>Site Settings</h1>

      <mat-tab-group>
        <mat-tab label="Terms">
          <h3>Keep a log of term start end date and cost</h3>
          <form>
            <mat-form-field appearance="fill">
              <mat-label>Enter term date range</mat-label>
              <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input
                  matStartDate
                  formControlName="start"
                  placeholder="Start date"
                />
                <input
                  matEndDate
                  formControlName="end"
                  placeholder="End date"
                />
              </mat-date-range-input>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>

              <mat-error
                *ngIf="range.controls.start.hasError('matStartDateInvalid')"
                >Invalid start date</mat-error
              >
              <mat-error
                *ngIf="range.controls.end.hasError('matEndDateInvalid')"
                >Invalid end date</mat-error
              >
            </mat-form-field>

            <p>Selected range: {{ range.value | json }}</p>

            <mat-form-field class="example-full-width">
              <mat-label>Court hire Cost</mat-label>
              <input matInput placeholder="$" type="number" />
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>VIP headcount</mat-label>
              <input matInput placeholder="" type="number" />
            </mat-form-field>

            <button mat-raised-button color="primary">Save</button>
          </form>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Term</th>
                <th scope="col">Court cost</th>
                <th scope="col">VIP count</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">12/01/2021 - 15/03/2021</th>
                <td>$4500</td>
                <td>15</td>
              </tr>
              <tr>
                <th scope="row">12/01/2021 - 15/03/2021</th>
                <td>$4500</td>
                <td>15</td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab label="Shuttles">
          <h3>Keep a log of shuttle purchase history</h3>
          <form [formGroup]="shuttleForm" (ngSubmit)="onShuttleSubmit()">
            <p>
            <mat-form-field appearance="fill">
              <mat-label>Purchase date</mat-label>
              <input
                matInput
                [matDatepicker]="shuttledate"
                formControlName="purchaseDate"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="shuttledate"
              ></mat-datepicker-toggle>
              <mat-datepicker #shuttledate></mat-datepicker>
            </mat-form-field>
          </p>
          <div
              *ngIf="sf.purchaseDate.invalid && (sf.purchaseDate.dirty || sf.purchaseDate.touched)"
              class="invalid-feedback"
            >
              <div *ngIf="sf.purchaseDate.errors.required">Purchase date is required.</div>
            </div>


<p>
            <mat-form-field class="example-full-width">
              <mat-label>Cost (AU$)</mat-label>
              <input
                matInput
                placeholder=""
                type="number"
                formControlName="cost"
                required
              />
            </mat-form-field>
          </p>

            <div
              *ngIf="sf.cost.invalid && (sf.cost.dirty || sf.cost.touched)"
              class="invalid-feedback"
            >
              <div *ngIf="sf.cost.errors.required">Cost is required.</div>
            </div>
<p>
            <mat-form-field class="example-full-width">
              <mat-label>Tubes</mat-label>
              <input
                matInput
                placeholder=""
                type="number"
                formControlName="quantity"
                required
              />
            </mat-form-field>
          </p>
            <div
              *ngIf="
                sf.quantity.invalid &&
                (sf.quantity.dirty || sf.quantity.touched)
              "
              class="invalid-feedback"
            >
              <div *ngIf="sf.quantity.errors.required">
                Quantity is required.
              </div>
            </div>

            <p>
            <mat-form-field class="example-full-width">
              <mat-label>Notes</mat-label>
              <textarea
                matInput
                placeholder="Taobao, Yonnex, 冠军5号，RSL"
                formControlName="notes"
                required
              ></textarea>
            </mat-form-field>
          </p>
            <div
              *ngIf="sf.notes.invalid && (sf.notes.dirty || sf.notes.touched)"
              class="invalid-feedback"
            >
              <div *ngIf="sf.notes.errors.required">Notes is required.</div>
            </div>

            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="shuttleForm.invalid"
            >
              Save
            </button>
          </form>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Purchase date</th>
                <th scope="col">Cost</th>
                <th scope="col">Tubes</th>
                <th scope="col">Notes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">12/05/2021</th>
                <td>$1500</td>
                <td>50</td>
                <td>Taobao购买, Yonnex, 冠军5号，RSL</td>
              </tr>
              <tr>
                <th scope="row">7/01/2021</th>
                <td>$500</td>
                <td>10</td>
                <td>Susan购买, Vistor Pink</td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab label="Bookings">
          <p>
            User can only make booking between the duration of specified open
            and close, unless admin manually locked the booking session
          </p>
          <mat-form-field appearance="fill">
            <mat-label>Opens at</mat-label>
            <select matNativeControl>
              <option value="volvo">Mon</option>
              <option value="saab">TUE</option>
              <option value="mercedes">WED</option>
              <option value="audi">THU</option>
              <option value="audi">FRI</option>
              <option value="audi">SAT</option>
              <option value="audi">SUN</option>
            </select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Time</mat-label>
            <input matInput placeholder="11:59AM" type="time" value="11:59" />
          </mat-form-field>
          <button mat-raised-button color="primary">Save</button>

          <p>to make it simple, Booking alway close on Sunday 11:59PM</p>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
