<app-public-header></app-public-header>


<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="section-heading marginleft15">New User Guide</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <iframe width="100%" height="250px" src="https://www.youtube.com/embed/Q-3eIbhkkjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
    </div>
    <div class="col-md">
      <iframe width="100%" height="250px" src="https://www.youtube.com/embed/XHX4CmBX3HY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md">
      <iframe width="100%" height="250px" src="https://www.youtube.com/embed/SKSkD6b9v30" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <h1 class="section-heading marginleft15">FAQs</h1>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <mat-accordion>
        <!-- <mat-expansion-panel [expanded]="true"> -->
          <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              HBCoin Policy
            </mat-panel-title>
          
          </mat-expansion-panel-header>
          <p>HBC一直致力于推广Cashless Payment。 让球友们得到更优惠和便捷的体验。我们很高兴的宣布HBCoin的闪亮登场，一个全新的电子货币及配套的交易系统是上一代的Pass系统的完美升级。</p>
          <p>用户可以随时参看每一笔交易的详细清单及账号余额。我们会不断地开发新功能来让HBCoin变得更加不可或缺。</p>

          <ul>
            <li>用于支付打球费用的Pass已经被更灵活方便的HBCoin取代， HBCoin 可以用于持有者整个家庭一起使用，也可以给他的朋友使用。</li>
            <li>使用HBCoin来支付的用户将得到更优惠的球费。</li>
            <li>HBCoin目前没有设定过期日，但如果连续一年未使用，HBC将保留决定HBCoin过期时间的权利。</li>
            <li>HBCoin余额可以退，HBC将收取10%的手续费。</li>
            <li>如何得到HBCoin? 一次性充值高于AU$100, 您将得到等价的HBCoin,  充值方式包括将要开通的在线支付，也可以通过银行转账。(银行转账后请务必截图并通知群管理员以确保充值无误)</li>
            <li>汇率：1 HBCoin = 1 AU$</li>
          </ul>

          <p>HBC has been promoting Cashless Payment for a better and more convenient experience. We are pleased to announce the launch of HBCoin, a new electronic currency and embedded trading system that is a perfect upgrade to our previous Pass system.</p>
          <p>Users can access the detailed list of each transaction and account balance. We are constantly developing new features to make HBCoin even more robust and convenient.</p>

          <ul>
            <li>One Pass, which pays for one playing session, is now replaced with a more flexible and convenient HBCoin, which can be used by the account holder&#39;s entire family and/or friends.</li>
            <li>Users who use HBCoin to pay will receive a discount along with many other benefits</li>
            <li>HBCoin does not currently have an expiration date, however should the HBCoins not been used for one full year, HBC reserves the right to rescind the account balance.</li>
            <li>HBCoin balances can be refunded and HBC will charge a 10% handling fee.</li>
            <li>How do I get HBCoin? A one-time top-up of more than AU$100, you will get the equivalent HBCoin. Top-up methods include the platform online payment soon to be opened, and direct bank transfer. (Be sure to take a screenshot and notify the group administrator after the bank transfer is confirmed to ensure correct account balance)</li>
            <li>Exchange rate: 1 HBCoin = 1 AU$</li>
          </ul>

          <ul class="simple-list">
            <li><img src="./assets/img/banners/HBCoinBadge.png" alt="hbcoin user badge"> HBCoin User Badge</li>
            <li><img src="./assets/img/banners/CashBadge.png" alt="cash user badge"> Cash User Badge</li>
          </ul>
            
            

          <p>
            <a routerLink="/settings/creditstatement">Yes, I'm in!</a>
          </p>
          

        </mat-expansion-panel>
        

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Booking Policy
            </mat-panel-title>
          
          </mat-expansion-panel-header>
          <p>用户可以在任何时候报名或撤销报名， 直至Session开始前5小时，Session开始前五小时内已经报上名的用户将不能撤销， 但可以把你的位子 标注为 “For Sale”， 如果有人来买这个位置那么credit将退回给原来报名的人。</p>
          <p>Users can book and cancel a spot at any time until 5 hours before the start of Session after which withdrawing will not be permitted. Instead, you can mark your spot as [For Sale] and if someone comes to buy the your spot, the HBCoin credit will be returned to the person’s account balance who originally signed up.</p>

          <a routerLink="/groups">Book Now!</a>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Auto Booking Policy
            </mat-panel-title>
          
          </mat-expansion-panel-header>
          <p>Auto Booking是一项付费功能， 使用它可以将你或你家庭成员的名字自动固定在每周的接龙里，无需每周再另外接龙，如果在固定期间，你有事不能出席，那么请把你的固定给暂停（Pause）

            在创建Auto Booking时， 您必须是HBCoins用户， 而且Credit Balance 大于 {{ autoBookngMiniumCreditRequired | currency}}</p>

            <p>Auto Booking is a paid service that automatically pins you and/or your family member's name to the weekly roster, eliminating the need for additional booking every week. If you can't attend during a fixed period, you can pause Auto Booking at any time. You must have a HBCoin Balance equal or greater than $100 to set up an Auto booking schedule.</p>

            <a routerLink="/settings/schedule">Setup AutoBooking!</a>

        </mat-expansion-panel>


        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              HBC Bank Account
            </mat-panel-title>

          </mat-expansion-panel-header>
                  <h4>Bank Details</h4>
            PayID: 82741485323 (Type: ABN)<br>
            Account Name: HBC<br>
            BSB: 032111 Account: 335387<br>
            *Once transferred, please show admin the receipt
            
            <p>* 转账时请注明你的微信用户名以便核对. 并截屏微信给群管理员  </p>
            <p>Please indicate your WeChat/Whatsapp username when transferring money in order to check. And screenshot receipt to group administrators.</p>

            <a routerLink="/settings/creditstatement">Check my statement</a>


        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              How to make booking for my friends?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>每个HBC网站账号除可以帮所有的家庭成员报名之外，还可以替最多两位没有HBC账号的朋友 报名， 朋友的费用直接从报名者的Credit里扣除，朋友的费用由报名者自行向朋友收取。</p>
          <p>Each account holder can register all family members as well as adding up to two friends who do not have an HBC account. The fee for friend’s playing session is directly deducted from the account balance. The friend&#39;s fee is then charged by the account holder to the friend, outside HBC involvement.</p>

          <a routerLink="/groups">Book Now!</a>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Online Credit Card Payment
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <p>Under development</p> 

        </mat-expansion-panel>


        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Contact Us
            </mat-panel-title>
          </mat-expansion-panel-header>

          <p><b>BadmintonWorx Norwest</b>, 2/2 Inglewood Pl, Norwest NSW 2153 <a href="https://g.page/badmintonworx-norwest?share" target="_blank"><i class="material-icons">location_on</i></a></p>
          <ul>
            <li><b>TUE</b> 8-11PM MIX Grade</li>
            <li><b>FRI</b> 8-11PM Graded</li>
            <li><b>SAT</b> 5-8PM All levels</li>
          </ul>

          <p>Email: <a href="mailto:support@hbc666.club">support@hbc666.club</a></p>
          <p>Facebook: <a href="https://www.facebook.com/groups/hbchome" target="_blank">HBC Facebook</a></p>
          <p>Youtube: <a href="https://www.youtube.com/channel/UCuMYy7h9al0UXcsTS6DG63A" target="_blank">HBC Youtube</a> </p>


        </mat-expansion-panel>


      </mat-accordion>

      <p style="height: 50px;"></p>

      
    </div>
  </div>
</div>

<app-public-footer></app-public-footer>