<app-public-header></app-public-header>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>TERMS & CONDITIONS</h1>
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button
                class="btn btn-link"
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Credit Policy
              </button>
            </h5>
          </div>

          <div
            id="collapseOne"
            class="collapse show"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="bookforfriendhead">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#bookforfriend" aria-expanded="false" aria-controls="bookforfriend">
                How to make booking for my friends?
              </button>
            </h5>
          </div>
          <div id="bookforfriend" class="collapse" aria-labelledby="bookforfriend" data-parent="#bookforfriendhead">
            <div class="card-body">
              <p>If your friend has an HBC account</p>
              Then you can simply use the search box to find his name to make the booking for him.
              
              <p>If your friend does not have an HBC account</p>

              Two thing you can do.<br/>
              1. To ask your friend to register and book by himeself<br/>
              2. To book use your own account to reserve a seat for him. by ticking the "use my credit" to pay for your friend using your own credit, 
              or leave it unticked, your friend will be charged with cash rate.
            </div>
          </div>
        </div>



        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button
                class="btn btn-link collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Booking Policy
              </button>
            </h5>
          </div>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. 3 wolf moon officia aute, non
         
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button
                class="btn btn-link collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                HBC Bank Account
              </button>
            </h5>
          </div>
          <div
            id="collapseThree"
            class="collapse"
            aria-labelledby="headingThree"
            data-parent="#accordionExample"
          >
            <div class="card-body">
           
                <h3>Bank Details</h3>
                PayID: 82741485323 (Type: ABN)<br/>
                Account Name: HBC<br/>
                BSB: 032111 Account: 335387<br/>

                <p></p>
                <p>*Once transferred, please show admin the receipt</p>
                <p>* 转账时请注明你的微信用户名以便核对. 并截屏微信给群管理员</p>
             


            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
