// Here you can add other styles
$nav-bar-color: #39034b;
$nav-padding: 15px;
body div.app {
  background-color: #e1e1e1;
}
.row {
  .col section,
  .col-sm section {
    padding: 20px;
  }
}

.avatar {
  width:38px;
  height: 38px;
  margin-right:5px;
}

.avatar-large {
  width:80px;
  height: 80px;
}

.app app-resetpassword {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.list-group button {
  float: right;
}
.hbclogo {
  width: 40px;
}
.card-body .card-number {
  font-size: 40px;
  font-weight: 600;
}

.timestamp {
  font-size: 10px;
}
.container,
.container-fluid {
  .row {
    &.light {
      background-color: white;
    }
  }
}
carousel img {
  width: 1230px;
  height: 250px;
}
//default material field width
mat-form-field {
  width: 300px;
}
.mat-field-l {
  width: 100%;
}
.card-img-top {
  //background: url(./assets/img/banners/test2.jpg);
  width: 100%;
  height: 200px;
}
.booking {
  .cil-plus {
    font-size: 25px;
    color: greenyellow;
    text-align: right;
    cursor: pointer;
  }

  .cil-minus {
    font-size: 25px;
    color: rgb(247, 55, 87);
    text-align: right;
    cursor: pointer;
  }
  tr.active {
    background-color: #202020;
  }
}
table.mat-table{
  width:90%;
  margin:10px;
}
footer {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

mat-icon[md-list-icon]{
  order:10;
}

ul.simple-horizontal-list {
  margin: 0!important;
  padding: 0!important;
  > li {
    display: inline-block;
    padding-right:5px;
  }
}

.modal-body h3 {
  font-weight: 600!important;
  margin: 10px 0!important;
}
//4b0063
.homepage-intro {
  min-height: 430px;
  padding:30px 20px;
  background-image: url(../assets/img/banners/jumpsmashbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color:white;

  .socialicons {
    margin-top:50px;
    img {
      width:32px;
      margin-right:30px;
    }
  }
  h2{
    font-size: 30px;
  }

  ul {
    li {
      font-size: 20px;
      line-height: 2rem;
    }
  }
}
.hero-section {
  min-height: 300px;
  padding:30px 20px;
  background-image: url(../assets/img/banners/abstract-blue-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;

  .left{
    width: 55%;
  }
  .right{
    width:45%;
  }

  ul {
    list-style-type:none;
    padding: 0!important;
    li {

    }
  }

  h3 {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
  }

}
.hero {
  font-family: 'Dela Gothic One', cursive!important;
  font-size: 38px!important;
  line-height: 3rem;
  margin-top:30px!important;
}
nav {
  background-color: $nav-bar-color;
  padding: $nav-padding;
  .nav-logo {
    float: left;
    margin: -$nav-padding auto;
    img {
      width: 50px;
    }
  }
  ul {
    //border: solid 1px black;
    margin: auto 20px;
    padding-left: 0;
    li {
      display: inline;
      padding: 25px;
      //padding-left: 0;
      a {
        color: whitesmoke;
        font-size: 15px;
        font-weight: 500;
        &:hover {
          color: white;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
  }
}
.dot {
  height: 14px;
  width: 14px;
  background-color: #f93e89;
  border-radius: 50%;
  display: inline-block;
}

.handwriting {
  font-family: 'Kaushan Script', cursive;
  font-size: 25px;
  line-height: 110%;
}
ul.hpbooking {
  li { font-weight: bold; margin-bottom:3px;}
  ul li { margin-right: 7px;}

  a {
    color:black;
  }

}
.hpbookingsection {
  color:#f6287a;
}
.responsive {
  width:100%;
  height: auto;
}

.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.mybooking {
  background-color: #262626;
}

.unpaid-bg{
  background-color: #fcd7e8;
}

.booking-sum {
  font-weight: 600;
  margin: 20px 10px 10px 0;
}
.admin-card-m {
  max-width: 400px;
}

.locked-bg{
  background-color: #cccccc;
}

.card-sm {
  max-width: 20rem;
  
  &.booking{
    a {
      text-decoration: none;
      color:black;
    }
    float: left;
    margin-right:25px;
    margin-bottom: 25px;
    &:hover{
      box-shadow: 0 0 11px rgba(33,33,33,.2); 

    }

  }
}

.group-header-image {
  background-image: url(../assets/img/banners/shuttle-sm.jpg);
  background-size: cover;
}

.section-heading {
  margin: 15px!important;
}
//Media queries

@media only screen and (max-width: 768px) {
  .container-fluid {
    padding: 0!important;
    margin: 0!important;
  }
  .container{
    padding: 5px!important;
  }
  .card-body{
    padding: 15px 8px !important;;
  }
  h1 {
    margin: 15px!important;
  }
  nav {
    text-align: center;
    .nav-logo {
      float: none;
      margin: auto;
      display: inline-block;
      text-align: center;
      img {
        width: 60px;
      }
    }
    ul {
      //border: solid 1px black;
      margin: auto 20px;
      li {
        display: inline-block;
        padding: 15px;
      }
    }
  }

  .hero-section {
    min-height:200px;
    padding: 10px 20px;

    .left{
      display: none;
    }
    .right{
      width:100%;
    }
  
  
  }

  .card-sm {
    max-width: 100%;
    
    &.booking{
      a {
        text-decoration: none;
        color:black;
      }
      //float: left;
      margin: 16px;
      &:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
  
      }
  
    }
  }


  .col {
    padding-left: 0;
    padding-right: 0;
  }
  .card-body.nopadding {
    padding: 0;
    h1 {
      padding: 10px;
    }
  }

  table.mat-table {
    width: 100%!important;
    margin:0;

    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
      padding-left:8px;
    }
  }
}
