// Here you can add other styles
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
@import "xmaslights";

//variables
$nav-bar-color:#39034b; //#CC231E
$nav-padding: 20px;
//homepage hero banner gradient colors

//xmas hero banner color
// $hero-color1: #CC231E;
// $hero-color2: #CC231E;
// $hero-color3: #F5624D;
// $hero-color4: #34A65F;

$hero-color1: #39034b;
$hero-color2: #39034b;
$hero-color3: #751795;
$hero-color4: #23d5ab;
$title-font: 'Anton', sans-serif;

body div.app {
  background-color: #e1e1e1;
}
.row {
  .col section,
  .col-sm section {
    padding: 20px;
  }
}

.avatar {
  width:38px;
  height: 38px;
  margin-right:5px;
}
.material-icons {
  vertical-align: bottom;
}
.avatar-large {
  width:80px;
  height: 80px;
}

.app app-resetpassword {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.list-group button {
  float: right;
}
.hbclogo {
  width: 40px;
}
.card-body .card-number {
  font-size: 40px;
  font-weight: 600;
}

.timestamp {
  font-size: 10px;
}
.container,
.container-fluid {
  .row {
    &.light {
      background-color: white;
    }
  }
}
carousel img {
  width: 1230px;
  height: 250px;
}
//default material field width
mat-form-field {
  width: 300px;
}
.mat-field-l {
  width: 100%;
}
.card-img-top {
  //background: url(./assets/img/banners/test2.jpg);
  width: 100%;
  height: 200px;
}
.booking {
  .cil-plus {
    font-size: 25px;
    color: greenyellow;
    text-align: right;
    cursor: pointer;
  }

  .cil-minus {
    font-size: 25px;
    color: rgb(247, 55, 87);
    text-align: right;
    cursor: pointer;
  }
  tr.active {
    background-color: #202020;
  }
}
table.mat-table{
  width:90%;
  margin:10px;
}
footer {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

mat-icon[md-list-icon]{
  order:10;
}

ul.simple-horizontal-list {
  margin: 0!important;
  padding: 0!important;
  > li {
    display: inline-block;
    padding-right:5px;
  }
}

.modal-body h3 {
  font-weight: 600!important;
  margin: 10px 0!important;
}


//4b0063
.homepage-intro {
  min-height: 430px;
  padding:30px 20px;
   background-image: url(../assets/img/banners/jumpsmashbg.jpg);
//background-image: url(../assets/img/banners/christmasBanner.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  color:white;

  .socialicons {
    margin-top:50px;
    img {
      width:32px;
      margin-right:30px;
    }
  }
  h2{
    font-size: 30px;
  }

  ul {
    li {
      font-size: 20px;
      line-height: 2rem;
    }
  }
}
.hero-section {
  min-height: 300px;
  padding:30px 20px;
  background-image: url(../assets/img/banners/abstract-blue-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;

  .left{
    width: 55%;
  }
  .right{
    width:45%;
  }

  ul {
    list-style-type:none;
    padding: 0!important;
    li {

    }
  }

  h3 {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
  }

}
.hero {
  font-family: 'Dela Gothic One', cursive!important;
  font-size: 38px!important;
  line-height: 3rem;
  margin-top:30px!important;
}

.hero2 {
  //background-color: $nav-bar-color;

    margin-top:-1px; // to compensate container gap
    background: rgb(57,3,75);
    background: linear-gradient(180deg, rgba(57,3,75,1) 0%, rgba(68,3,89,1) 35%, rgba(98,3,130,1) 100%);
  
    min-height: 500px;
    text-align: center;
    padding: 90px 0 70px 0;
    button {
      padding: 8px 40px;
      font-size: 18px;
    }
  h1 {
    font: 800 45px 'Roboto', sans-serif!important;
    color: white;
    padding: 60px 0 30px 0;
    //font-family: 'Roboto', sans-serif!important;
  }

}
.group-card {
  .card-title {
    font-weight: 500;
  }
}
nav {
  background-color: $nav-bar-color;
  padding: $nav-padding;
  .nav-logo {
    float: left;
    margin: -$nav-padding auto;
    img {
      width: 55px;
    }
  }
  ul {
    //border: solid 1px black;
    margin: auto 20px;
    padding-left: 0;
    li {
      display: inline;
      padding: 25px;
      margin-left:22px;
      //padding-left: 0;
      a {
        color: whitesmoke;
        //font: 400 20px $title-font!important;
        font-size: 16px;
        font-weight: 600;
        &:hover {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
.dot {
  height: 14px;
  width: 14px;
  background-color: #f93e89;
  border-radius: 50%;
  display: inline-block;
}

.handwriting {
 // font-family: 'Kaushan Script', cursive;
  font: 700 52px $title-font;
  line-height: 140%;
}

.handwriting-signature{
  margin:50px 0 100px 0;
  font: 600 32px 'Kaushan Script', cursive;
  line-height: 110%;
}
ul.hpbooking {
  li { font-weight: bold; margin-bottom:3px;}
  ul li { margin-right: 7px;}

  a {
    color:black;
  }

}
.hpbookingsection {
  color:#f6287a;

}

.booking-table-red {
  background-color: $nav-bar-color;
  color:white;
}
.responsive {
  width:100%;
  height: auto;
}

.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.mybooking {
  background-color: #262626;
}

.unpaid-bg{
  background-color: #fcd7e8;
}

.booking-sum {
  font-weight: 600;
  margin: 20px 10px 10px 0;
}
.admin-card-m {
  max-width: 400px;
}

.locked-bg{
  background-color: #cccccc;
}

.card-sm {
  max-width: 20rem;
  
  &.booking{
    a {
      text-decoration: none;
      color:black;
    }
    float: left;
    margin-right:25px;
    margin-bottom: 25px;
    &:hover{
      box-shadow: 0 0 11px rgba(33,33,33,.2); 

    }

  }
}

.group-header-image {
  background-image: url(../assets/img/banners/shuttle-sm.jpg);
  background-size: cover;
}

.section-heading {
  margin: 15px 0 35px 0!important;
  font: 700 30px $title-font!important;
  text-transform: uppercase;
}

.marginleft15 {
  margin-left: 15px!important;
}


.rainbow {
  background: 50% 50% / 50% 50% no-repeat
              radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  //font-size: 10vw;
  //font-family: "Source Sans Pro", sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}

.gradient-bg-animation {
  background: linear-gradient(-45deg, $hero-color1, $hero-color2, $hero-color3, $hero-color4);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes reveal {
  80%{
    letter-spacing: 3px;
  }
  100% {
    background-size: 200% 200%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 18px #fff;
  }
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.bookingoffline {
  padding: 15px;
  text-align: center;
  h2 {
    font: 700 50px $title-font!important;
    margin: 50px 0;
  }
  h3 {
    font: 700 30px $title-font!important;
    line-height: 40px;
  }
}
.bookingofflineimg {
  margin: 30px;
  text-align: center;
  img {
    width: 100%;
  }
  
}

.horverEffects
{
    box-shadow: 0px 5px 8px rgb(0 0 0 / 10%);

    &:hover{
      //animation-name:onHoverAnimation;
      transform: translateY(-8px) ;
      box-shadow: 0px 20px 15px rgb(0 0 0 / 60%);
      transition: all ease-in-out 0.3s;
      transition-delay: .1s;
    }
}


//Media queries
@media only screen and (max-width: 768px) {
//fix the issue on mobile
  .app-header{
  position: relative !important;
}
.app-body {
  margin-top: 0!important;
}

  main .container-fluid {
    padding: 0!important;
    margin: 0!important;

  }
  .container{
    padding: 5px!important;
  }
  .card-body{
    padding: 15px 8px !important;;
  }
  h1 {
    margin: 15px!important;
  }

  nav {
    text-align: center;
    .nav-logo {
      float: none;
      margin: auto;
      display: inline-block;
      text-align: center;
      img {
        width: 60px;
      }
    }
    ul {
      //border: solid 1px black;
      margin: 10px;
      width: 100%;
      padding: 0;
      li {
        margin: 0;

        display: inline-block;
        padding: 20px;
        padding-left: 0;
        padding-right: 23px;
      }
    }
  }

  .hero-section {
    min-height:200px;
    padding: 10px 20px;

    .left{
      display: none;
    }
    .right{
      width:100%;
    }
  }

  .hero2 {
    min-height: 320px;
    padding: 10px 0 70px 0;
  }

  .group-card {
    margin: 15px;
  }

  .card-sm {
    max-width: 100%;
    
    &.booking{
      a {
        text-decoration: none;
        color:black;
      }
      //float: left;
      margin: 16px;
      &:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
  
      }
  
    }
  }

  .row {
    .col section,
    .col-sm section {
      padding: 0;
    }
  }
  
  .col {
    padding-left: 0;
    padding-right: 0;
  }
  .card-body.nopadding {
    padding: 0;
    h1 {
      padding: 10px;
    }
  }

  table.mat-table {
    width: 100%!important;
    margin:0;

    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
      padding-left:8px;
    }
  }
}
