
//Media queries
@media only screen and (max-width: 768px) {

    .profile-card {
        width: 370px;;
      }
    
      .app-header{
      position: relative !important;
    }
    .app-body {
      margin-top: 0!important;
    }
    
      main .container-fluid {
        padding: 0!important;
        margin: 0!important;
    
      }
      .container{
        padding: 5px!important;
      }
      .card-body{
        padding: 15px 8px !important;;
      }
      h1 {
        margin: 15px!important;
      }
    
      nav {
        text-align: center;
        padding: 10px;
        .logo {
          float: none;
          margin: auto;
          display: inline-block;
          text-align: center;
        }
        ul {
          //border: solid 1px black;
          margin: 2px;
          width: 100%;
          padding: 0;
          li {
            margin: 0;
            display: inline-block;
            padding: 20px;
            padding-left: 0;
            padding-right: 20px;
          }
        }
      }
    
      // .hero2 {
      //   background-position-y: 50px;
      //   background-position-x: -40px;
      //   background-size: 900px 400px;
      // }
      
      .homepage-intro {
        background-position-x: $homepage-hero-bg-offset;
        .intro-shade {
          padding: 20px;
          width: 100%;
          h2{
            font: 500 37px $font-title;
          }
          p a {
            color: $homepage-intro-shade-link-color !important;;
            font-weight: 500;
          }
        }
      }
    
      .hero-section {
        min-height:200px;
        padding: 10px 20px;
    
        .left{
          display: none;
        }
        .right{
          width:100%;
        }
        
      }
    
      .hero2 {
        min-height: 300px;
        padding: 10px 0 60px 0;
        h1 {
          padding-top: 10px;
          font: 700 46px $font-bebas!important;
          letter-spacing: 1px!important;
          line-height: 130%!important;
        }
        
      }
    
      .group-card {
        margin: 15px;
      }
    
      .card-sm {
        max-width: 100%;
        
        &.booking{
          a {
            text-decoration: none;
            color:black;
          }
          //float: left;
          margin: 16px;
          &:hover{
            box-shadow: 0 0 11px rgba(33,33,33,.2); 
      
          }
      
        }
      }
    
      .row {
        .col section,
        .col-sm section {
          padding: 0;
        }
      }
      
      .col {
        padding-left: 0;
        padding-right: 0;
      }
      .card-body.nopadding {
        padding: 0;
        h1 {
          padding: 10px;
        }
      }
    
      table.mat-table {
        width: 100%!important;
        margin:0;
        th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
          padding-left:8px;
        }
      }


      /* offline page */
.offline-bg {
  .heading {
    margin: 100px auto 60px auto;
    h1{
      font: 600 80px $font-bebas!important;
      letter-spacing: 2px!important;
    }
    h2 {
      font: 600 80px $font-bebas!important;
      letter-spacing: 2px!important;
      margin-top:-40px;
    }
  }

  hr {
    width: 80%;
  }


  .message {
    margin-top: 30px;
    font: 100 40px $font-bebas!important;
    letter-spacing: 1px!important;
    .sm {
      padding: 20px;
      font: 100 22px $font-bebas;
    }
  }
  
  
}
/* offline page ended */


}
    