
/****** Default Overwrites ********/

// Angular Material Overwrites
body {
    background-color: $global-page-bg-color !important;
}
body div.app {
    background-color: $global-page-bg-color !important;
}
// .mat-dialog-container {
    
// }

.table-hover tbody tr:hover {
    color: $table-hover-text-color !important;
}
.card {
    background-color: $card-background-color;
    color: $card-text-color;
    mat-label {
        color: $card-mat-label-color;
    }
    table {
        color: $card-table-text-color;
    }
    a {
        color: $card-link-text-color;
        font-weight: 500;
    }
    .text-muted {
        color: $card-text-muted !important;
    }
}

.card-white {
    background-color: white;
    color: black;
    mat-label {
        color: black;
    }
    h1{
        color:black;
    }
    table {
        color: black;
    }
    a {
        color: black;
        font-weight: 500;
    }
    .text-muted {
        color: $card-text-muted !important;
    }
}

.mat-card {
    background-color: $card-background-color;
    color: $card-text-color;
}

.mat-dialog-container {
    // padding: 15px !important;
    background-color: $modal-content-background-color;
    color: $modal-content-h3-color;
    .modal-content {
        background-color: $modal-content-background-color;
        .modal-title {
            font: 400 19px $font-anton;
            color: $modal-content-h3-color;
        }
        h3 {
            color: $modal-content-h3-color;
        }
    }
}

