//Dark Mode Theme
$global-page-bg-color: #1b1b1b;
$default-color: #101010;
$default-highlight-color: #ccc;
$nav-bar-color: $default-color;
$nav-bar-text-color: white;
$nav-bar-logo: $hbc-logo-white;
$nav-bar-link-hover-color: white;
$row-bg-color: $default-color;
$section-header-text-color: white;
$simple-horizontal-list-text-color: white;

$hero-color1: $default-color;
$hero-color2: $default-color;
$hero-color3: #363535;
$hero-color4: #000;
$homepage-hero-text-color: white;
$homepage-booking-button-bg-color: #0f0f0f;
$homepage-booking-button-text-color: white;
$homepage-hero-gradient: linear-gradient(
    180deg,
    rgba(57, 3, 75, 1) 0%,
    rgba(68, 3, 89, 1) 35%,
    rgba(98, 3, 130, 1) 100%
);
$homepage-hero-bg-img: "";
$homepage-hero-bg-img-mobile: "";
$homepage-intro-minheight: 430px;
$homepage-intro-shade-color: rgba(255, 255, 255, 0);
$homepage-intro-bg: url(https://ik.imagekit.io/hbc666/hbc/hero/hero-banner-deathstar_OBR9Ni0TM.jpg);

$homepage-hero-bg-offset: -550px;
$homepage-intro-color: #fff;
$homepage-intro-shade-link-color: white;
$homepage-hero-bg-img: url(https://ik.imagekit.io/hbc666/hbc/hero/hero-bg-stormtrooper_WD6a1jNSt8.jpg) !important;
$homepage-hero-bg-size-percent: 110% 110%;
$offline-quote-bg-color: #000;

//dashboard profile card
$profile-bg-img-url: url("https://ik.imagekit.io/hbc666/hbc/banner/profilecard-darthvader_xYUC5FIL1.jpg");
$profile-card-bg-color: $default-color;
$profile-card-text-color: #fff;
$profile-button-color: black;
$profile-button-highlight-color: #2a2a2a;
$profile-link-bg-color: #0c0c0c;
$profile-link-text-color: white;
$profile-link-bg-hover-color: #0d0d0d;

//Card
$card-background-color: $default-color;
$card-text-color: white;
$card-table-text-color: white;
$card-mat-label-color: white;
$card-text-muted: #b4b4b4;
$card-link-text-color: white;
$session-card-bg-img: url("https://ik.imagekit.io/hbc666/hbc/banner/session-card-starship_O3zYIHrgw.jpg");

//booking tables
$table-bg-color: $default-color;
$table-text-color: white;
$table-hover-text-color: #ccc;
$table-hover-bg-color: $default-color;
$booking-tbl-hightlight-color: #1e1e1e;
$table-booking-button-bg-color: #565656;
$table-booking-button-text-color: white;

//Modal dialog
$modal-content-background-color: #fff;
$modal-content-h3-color: black;
$modal-content-text-color: black;

//Admin
$admin-table-row-inactive: #202020;

//mat-table
$mat-table-bg-color: white;
$mat-cell-color: $default-color;

//footer
$footer-bg-color: $default-color;
$footer-text-color: white;
$footer-link-hover-color: #dbd7d7;
$footer-logo-color: white;
$footer-real-bg-color: #0d0d0d;
$footer-real-text-color: white;
//Dark Mode Theme END
