@import "xmaslights";
@import url('https://fonts.googleapis.com/css2?family=Material+Icons&family=Roboto:ital,wght@1,900&family=Noto+Serif+SC:wght@900&family=Freehand&family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Poppins:wght@400;500&family=Racing+Sans+One&display=swap');

$font-anton: 'Anton', sans-serif;
$font-roboto:'Roboto', sans-serif;
$font-racingSansOne: 'Racing Sans One', cursive; //bold italic font
$font-handwriting: 'Freehand', cursive;
$font-news: 'Abril Fatface', cursive;//Time new roman like font - brodayway like
$font-bebas: 'Bebas Neue', cursive;
$font-chiense-noto: 'Noto Serif SC', serif; //chinese font
$font-title: $font-anton; 
$hbc-logo-white: url(https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Flogo%2FHBCLogoWhite.png?alt=media&token=7b2b9bcb-aab3-4833-80bd-e9d72c9b11d0);
$hbc-logo-black: url(https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Flogo%2FHBCLogoBlack.png?alt=media&token=7a6a4c61-c009-4daa-b28e-dcaff3641b9a);

//Offline page 
$offline-bg-image: url(../assets/img/banners/offlinebg2.jpg) ;
$offline-logo: $hbc-logo-white;
$offline-h1-color: #e80b36;
$offline-h2-color: white;
$offline-separator-color: $offline-h1-color;
$offline-message-color: white;
$session-online-indicator-bg-color: #04e845;
$session-offline-indicator-bg-color: #ff0000;

/*
//Default HBC Theme
    $default-color: #39034b;;//easter pink
    $global-page-bg-color: white;
    $default-highlight-color: #2b0239;
    $nav-bar-color:$default-color; 
	$nav-bar-text-color:white;
    $nav-bar-logo: url(https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Flogo%2FHBCLogoWhite.png?alt=media&token=7b2b9bcb-aab3-4833-80bd-e9d72c9b11d0);
    $nav-bar-link-hover-color: white;
    $row-bg-color: white;
    $section-header-text-color: black;
    $simple-horizontal-list-text-color: black;

    $hero-color1: $default-color;
    $hero-color2: #39034b;
    $hero-color3: #751795;
    $hero-color4: #23d5ab;
	$homepage-hero-text-color: white;
    $homepage-booking-button-bg-color: #213cb3;
    $homepage-booking-button-text-color: white;
    $homepage-hero-gradient: linear-gradient(180deg, rgba(57,3,75,1) 0%, rgba(68,3,89,1) 35%, rgba(98,3,130,1) 100%);
    $homepage-hero-bg-img: '';
    $homepage-intro-minheight: 430px;
    $homepage-intro-shade-color:rgba(0,0,0,0.1);
    $homepage-intro-bg: url(https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fhero%2Fjumpsmashbg.jpg?alt=media&token=e85baed5-26af-4304-8774-c957d6092e7d);
    $homepage-hero-bg-offset: -640px;
    $homepage-intro-color:#fff;
    $homepage-intro-shade-link-color: white;
    $homepage-hero-bg-img: ''!important;
    $offline-quote-bg-color: #000;

    //dashboard profile card
    $profile-bg-img-url: url("https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fbanners%2Fprofilecard-purple-BG.jpg?alt=media&token=793581f6-e6ec-4de3-99ef-247431b1913e");
    $profile-card-bg-color:#fff;
    $profile-card-text-color: #000;
    $profile-button-color: $default-color;
    $profile-button-highlight-color: #250231;
    $profile-link-bg-color: #e5e5e5;
    $profile-link-text-color: black;
    $profile-link-bg-hover-color: #a364b7;

    //Card
    $card-background-color: white;
    $card-text-color: black;
    $card-table-text-color: black;
    $card-mat-label-color: black;
    $card-text-muted: #9d9c9c;
    $card-link-text-color: $default-color;
    $session-card-bg-img:url("https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fbanners%2Fsession-card-default.jpg?alt=media&token=7c52e8b7-0699-4a79-8781-551df3adcc09");

    //Admin
    $admin-table-row-inactive: #ccc;

	//booking tables
    $table-bg-color: #fff;
    $table-text-color: black;
    $table-hover-text-color:black;
    $table-hover-bg-color: #f5f4f4;
    $booking-tbl-hightlight-color: #f9f8f8;
	
    //Modal dialog
    $modal-content-background-color: #fff;
    $modal-content-h3-color: black;
    $modal-content-text-color: black;
    //footer
    $footer-bg-color: $default-color;
    $footer-text-color: white;
	$footer-link-hover-color: #414141;
	$footer-logo-color: white;
    $footer-real-bg-color: #250231;
    $footer-real-text-color: #ccc;
//End of Default HBC Theme
*/


//Easter Pink Theme
    $default-color: #dd358a;//easter pink
    $global-page-bg-color: white;
    $global-link-color: #20b0e3;
    $default-highlight-color: #c52274;
    $nav-bar-color:$default-color; 
    $nav-bar-logo: url(https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Flogo%2FHBCLogoWhite.png?alt=media&token=7b2b9bcb-aab3-4833-80bd-e9d72c9b11d0);
    $nav-bar-text-color: white;
    $nav-bar-link-hover-color: white;
    $row-bg-color: white;
    $section-header-text-color: black;
    $simple-horizontal-list-text-color: black;

    $hero-color1: $default-color;
    $hero-color2: #dd358a;
    $hero-color3: #df5099;
    $hero-color4: #f92658;
	$homepage-hero-text-color: white;
    $homepage-booking-button-bg-color: #b2ed42;
    $homepage-booking-button-text-color: Black;
    $homepage-hero-gradient: linear-gradient(180deg, rgba(57,3,75,1) 0%, rgba(68,3,89,1) 35%, rgba(98,3,130,1) 100%);
    // $homepage-hero-bg-img: url(https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fhero%2FSatHappyHour.jpg?alt=media&token=fc254f48-fa01-4aa2-be23-df2ebb59ec74);
    // $homepage-hero-bg-img-mobile: url(https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fhero%2FSatHappyHour-mobile.jpg?alt=media&token=06af1f15-a6e3-4cb5-8809-f286e7fc1f8d);
    $homepage-hero-bg-img: '';
    $homepage-hero-bg-img-mobile: '';
    $homepage-intro-minheight: 430px;
    $homepage-intro-color:#fff;
    $homepage-intro-shade-color:rgba(0,0,0,0.6);
    $homepage-intro-shade-link-color: white;
    $homepage-intro-bg: url(https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fhero%2FeasterBG.jpg?alt=media&token=c2018d68-5eb6-4f73-ab22-0a2c0773f65a); //1138 x de0e3ef5-3a81-45f0-8c21-8fc76b67074d
    //$homepage-intro-bg: url(https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fhero%2FSatHappyHour.jpg?alt=media&token=a91fc4bc-3ce8-4017-927d-eb6e575937fa); //1138 x de0e3ef5-3a81-45f0-8c21-8fc76b67074d
    
    $homepage-hero-bg-offset: -150px;
    $offline-quote-bg-color: $nav-bar-color;

    //dashboard profile card
    $profile-bg-img-url: url("https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fbanners%2Fprofilecard-easter-bg.jpg?alt=media&token=3e9c94fd-28bf-415f-9ad6-c65a5e4380ec");
    $profile-card-bg-color:#ffffff;
    $profile-card-text-color: black;
    $profile-button-color: $default-color;
    $profile-button-highlight-color: $default-highlight-color;
    $profile-link-bg-color: #fe59ad;
    $profile-link-text-color: white;
    $profile-link-bg-hover-color: $default-highlight-color;

    //Card
    $card-background-color: white;
    $card-text-color: black;
    $card-link-text-color: $global-link-color;
    $card-table-text-color: black;
    $card-mat-label-color: rgb(14, 13, 13);
    $card-text-muted: #656363;
    $session-card-bg-img:url("https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fbanners%2Fsession-card-easter.jpg?alt=media&token=de0e3ef5-3a81-45f0-8c21-8fc76b67074d");

    //Modal dialog
    $modal-content-background-color: white;
    $modal-content-h3-color: black;
    $modal-content-text-color: black;

	//booking tables
    $table-bg-color: white;
    $table-text-color: black;
    $table-hover-text-color:white;
    $table-hover-bg-color: #f661ad;
    $booking-tbl-hightlight-color: #f9f9f9;
	$table-booking-button-bg-color: $default-color;
    $table-booking-button-text-color: white;
    
    //Admin
    $admin-table-row-inactive: #fafafa;

    //footer
    $footer-bg-color: #dd4593;
    $footer-text-color: #fafafa;
	$footer-link-hover-color: white;
    $footer-logo-color: white;
    $footer-real-bg-color: $nav-bar-color;
    $footer-real-text-color: #ededed;
//Easter Pink Theme


/*
//Light Mode Theme
    $global-page-bg-color: white;
    $default-color: #fff;//easter pink
    $default-highlight-color: #ccc;
    $nav-bar-color:$default-color; 
    $nav-bar-logo: url(https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Flogo%2FHBCLogoBlack.png?alt=media&token=7a6a4c61-c009-4daa-b28e-dcaff3641b9a);
    $nav-bar-text-color: black;
    $nav-bar-link-hover-color: #313131;
    $row-bg-color: $default-color;
    $section-header-text-color: black;
    $simple-horizontal-list-text-color: black;

    $hero-color1: #fff;
    $hero-color2: #fff;
    $hero-color3: #e8e7e7;
    $hero-color4: #e4e3e3;
    $homepage-hero-text-color: black;
    $homepage-booking-button-bg-color: #222222;
    $homepage-booking-button-text-color: white;
    $homepage-hero-gradient: linear-gradient(180deg, rgba(57,3,75,1) 0%, rgba(68,3,89,1) 35%, rgba(98,3,130,1) 100%);
    $homepage-intro-minheight: 430px;
    $homepage-intro-shade-color:rgba(255,255,255,0.45);
    $homepage-intro-bg: url(https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fhero%2Fhero-banner-birds.jpg?alt=media&token=be6f0e1c-06e9-46d5-810d-fd01ee9948aa);
    $homepage-hero-bg-offset: -550px;
    $homepage-intro-color:#000;
    $homepage-intro-shade-link-color: black;
    $homepage-hero-bg-img: url(https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fhero%2Fhero-bg-shanshui2.jpg?alt=media&token=924c8985-910a-4b36-88a3-962acdedae91)!important;
    $homepage-hero-bg-img-mobile:'';
    $offline-quote-bg-color: #000;

    //dashboard profile card
    $profile-bg-img-url: url("https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fbanners%2Fprofilecard-light.jpg?alt=media&token=2e35db9e-bfdc-40b0-b3c9-c9aecb1ba391");
    $profile-card-bg-color:#fff;
    $profile-card-text-color: #000;
    $profile-button-color: #1e1e1e;
    $profile-button-highlight-color: #2a2a2a;
    $profile-link-bg-color: #f6f4f4;
    $profile-link-text-color: black;
    $profile-link-bg-hover-color: #a6a5a5;

    //Card
    $card-background-color: $default-color;
    $card-text-color: black;
    $card-table-text-color: black;
    $card-mat-label-color: black;
    $card-text-muted: black;
    $card-link-text-color: black;
    $session-card-bg-img: url("https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fbanners%2Fsession-card-bw-dragon.jpg?alt=media&token=6b772d59-f8c4-46c8-9daa-5b7c8f10e647");

    //booking tables
    $table-bg-color:#fff;
    $table-text-color: black;
    $table-hover-text-color:black;
    $table-hover-bg-color: $default-color;
    $booking-tbl-hightlight-color: #fafafa;
    $table-booking-button-bg-color: #565656;
    $table-booking-button-text-color: white;

    //Modal dialog
    $modal-content-background-color: $default-color;
    $modal-content-h3-color: black;
    $modal-content-text-color: black;

    //Admin
    $admin-table-row-inactive: #ccc;
    
    //footer
    $footer-bg-color: #fff;
    $footer-text-color: black;
    $footer-link-hover-color: #414141;
    $footer-logo-color: black;
    $footer-real-bg-color: #efefef;
    $footer-real-text-color: black;
//Light Mode Theme END
*/


/*
//Dark Mode Theme
    $global-page-bg-color: #1b1b1b;
    $default-color: #101010;
    $default-highlight-color: #ccc;
    $nav-bar-color: $default-color; 
    $nav-bar-text-color: white;
    $nav-bar-logo: url(https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Flogo%2FHBCLogoWhite.png?alt=media&token=7b2b9bcb-aab3-4833-80bd-e9d72c9b11d0);
    $nav-bar-link-hover-color: white;
    $row-bg-color: $default-color;
    $section-header-text-color: white;
    $simple-horizontal-list-text-color: white;

    $hero-color1: $default-color;
    $hero-color2: $default-color;
    $hero-color3: #363535;
    $hero-color4: #000;
    $homepage-hero-text-color: white;
    $homepage-booking-button-bg-color: #0f0f0f;
    $homepage-booking-button-text-color: white;
    $homepage-hero-gradient: linear-gradient(180deg, rgba(57,3,75,1) 0%, rgba(68,3,89,1) 35%, rgba(98,3,130,1) 100%);
    $homepage-hero-bg-img: '';
    $homepage-hero-bg-img-mobile:'';
    $homepage-intro-minheight: 430px;
    $homepage-intro-shade-color:rgba(255,255,255,0);
    $homepage-intro-bg: url(https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fhero%2Fhero-banner-deathstar.jpg?alt=media&token=412c6796-5a8a-468a-af8b-22df659a95c7);
    $homepage-hero-bg-offset: -550px;
    $homepage-intro-color:#fff;
    $homepage-intro-shade-link-color: white; 
    $homepage-hero-bg-img: url(https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fhero%2Fhero-bg-stormtrooper.jpg?alt=media&token=a0d26f48-8e3a-4975-88b8-7830cda93d94)!important;
    $offline-quote-bg-color: #000;

    //dashboard profile card
    $profile-bg-img-url: url("https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fbanners%2Fprofilecard-darthvader.jpg?alt=media&token=beb6a11b-cd37-4298-9954-80a039176946");
    $profile-card-bg-color:$default-color;
    $profile-card-text-color: #fff;
    $profile-button-color: black;
    $profile-button-highlight-color: #2a2a2a;
    $profile-link-bg-color: #0c0c0c;
    $profile-link-text-color: white;
    $profile-link-bg-hover-color: #0d0d0d;

    //Card
    $card-background-color: $default-color;
    $card-text-color: white;
    $card-table-text-color: white;
    $card-mat-label-color: white;
    $card-text-muted: #b4b4b4;
    $card-link-text-color: white;
    $session-card-bg-img:url("https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fbanners%2Fsession-card-starship.jpg?alt=media&token=59bb1ea2-ad7a-42be-8818-22f5f7685d57");

    //booking tables
    $table-bg-color: $default-color;
    $table-text-color: white;
    $table-hover-text-color:#ccc;
    $table-hover-bg-color: $default-color;
    $booking-tbl-hightlight-color: #1e1e1e;
    $table-booking-button-bg-color: #565656;
    $table-booking-button-text-color: white;

    //Modal dialog
    $modal-content-background-color: #fff;
    $modal-content-h3-color: black;
    $modal-content-text-color: black;

    //Admin
    $admin-table-row-inactive: #202020;
    
    //footer
    $footer-bg-color: $default-color;
    $footer-text-color: white;
    $footer-link-hover-color: #dbd7d7;
    $footer-logo-color: white;
    $footer-real-bg-color: #0d0d0d;
    $footer-real-text-color: white;
//Dark Mode Theme END
*/


/*
//The Bumblebee Transformers Color Scheme palette has 5 colors which are Sandstorm (#F2D638), Meat Brown (#E9B033), Rich Black [FOGRA39] (#010600), Philippine Gray (#8E8F95) and Spiro Disco Ball (#1EC4F2).
    //Orange - Transformer Theme
    $global-page-bg-color: #fff;
    $default-color: #e1a41d;
    $default-highlight-color: #ccc;
    $nav-bar-color: $default-color; 
    $nav-bar-text-color: black;
    $nav-bar-logo: url(https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Flogo%2FHBCLogoBlack.png?alt=media&token=7a6a4c61-c009-4daa-b28e-dcaff3641b9a);
    $nav-bar-link-hover-color: white;
    $row-bg-color: #fff;
    $section-header-text-color: black;
    $simple-horizontal-list-text-color: black;

    $hero-color1: $default-color;
    $hero-color2: $default-color;
    $hero-color3: #363535;
    $hero-color4: #000;
    $homepage-hero-text-color: white;
    $homepage-booking-button-bg-color: $default-color;
    $homepage-booking-button-text-color: black;
    $homepage-hero-gradient: linear-gradient(180deg, rgba(57,3,75,1) 0%, rgba(68,3,89,1) 35%, rgba(98,3,130,1) 100%);
    $homepage-intro-minheight: 430px;
    $homepage-intro-shade-color:rgba(0,0,0,0.3);
    $homepage-intro-bg: url(https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fhero%2Fhero-banner-bumblebeecar.jpg?alt=media&token=7c6dda6e-67ff-4f6f-ab6c-494392d31022);
    $homepage-hero-bg-offset: -150px;
    $homepage-intro-color:#fff;
    $homepage-intro-shade-link-color: white; 
    $homepage-hero-bg-img: url(https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fhero%2Fhero-bg-bumblebee.jpg?alt=media&token=884ca78e-60ee-436b-a458-bcee806995fb)!important;
    $homepage-hero-bg-img-mobile:'';
    $offline-quote-bg-color: #000;

    //dashboard profile card
    $profile-bg-img-url: url("https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fbanners%2Fprofilecard-transformers.jpg?alt=media&token=6e2da389-a726-4ec8-99af-843261c3ddd5");
    $profile-card-bg-color:$default-color;
    $profile-card-text-color: #000;
    $profile-button-color: #bd8406;
    $profile-button-highlight-color: $default-color;
    $profile-link-bg-color: #e9b33b;
    $profile-link-text-color: black;
    $profile-link-bg-hover-color: $default-color;

    //Card
    $card-background-color: #fff;
    $card-text-color: black;
    $card-table-text-color: black;
    $card-mat-label-color: black;
    $card-text-muted: #b4b4b4;
    $card-link-text-color: black;
    $session-card-bg-img:url("https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fbanners%2Fsession-card-eye.jpg?alt=media&token=c5a60e46-5d76-4f20-81ec-c6724089d991");

    //booking tables
    $table-bg-color: #fff;
    $table-text-color: black;
    $table-hover-text-color:black;
    $table-hover-bg-color: $default-color;
    $booking-tbl-hightlight-color: #f9f9f9;
    $table-booking-button-bg-color: $default-color;
    $table-booking-button-text-color: black;

    //Modal dialog
    $modal-content-background-color: #fff;
    $modal-content-h3-color: black;
    $modal-content-text-color: black;

    //Admin
    $admin-table-row-inactive: #202020;
    
    //footer
    $footer-bg-color: $default-color;
    $footer-text-color: black;
    $footer-link-hover-color: #dbd7d7;
    $footer-logo-color: black;
    $footer-real-bg-color: #d29819;
    $footer-real-text-color: black;
//End of Orange theme
*/

/****** Default Overwrites ********/

// Angular Material Overwrites
body {
    background-color: $global-page-bg-color!important;
}
body div.app {
    background-color: $global-page-bg-color!important;

}
.mat-dialog-container {
    padding: 5px!important;
}

.table-hover tbody tr:hover {
    color: $table-hover-text-color!important;
}
.card {
    background-color: $card-background-color;
    color: $card-text-color;
    mat-label {
        color: $card-mat-label-color;
    }
    table {
        color: $card-table-text-color;
    }
    a {
        color: $card-link-text-color;
        font-weight: 500;
    }
    .text-muted {
        color: $card-text-muted !important;
    }
}

.mat-card {
    background-color: $card-background-color;
    color:$card-text-color;
}

.mat-dialog-container {
    background-color: $modal-content-background-color;
    color: $modal-content-h3-color;
    .modal-content {
        background-color: $modal-content-background-color;
        .modal-title {
            font: 400 18px $font-anton;
            color: $modal-content-h3-color;
        }
        h3 {
            color: $modal-content-h3-color;
        }
    }
}

//Bootstrap overwrites

.container-fluid {
    padding: 0;
}
.alert {
    width: 100%;
    padding: 0!important;
    border-radius: 0;
    //border-style: solid;
    background-color: white;
    color: black;
    border-width: 1px;
    margin-bottom: 12px;
    font-size: 16px;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: row;
    .alert-icon {
        flex: 0 0 80px;
        text-align: center;
        padding: 10px;
        span {
            font-size: 3em;
        }
    }
    .alert-body {
        flex: auto;
        padding: 20px;
    }
  }

  
  .alert.alert-info {
    border-color: #dc871a;
    .alert-icon {
        background-color: #dc871a;
        color:white;
    }
  }
  
  .alert.alert-warning {
    border-color: #dc871a;
    .alert-icon {
        background-color: #dc871a;
        color:white;
    }

  }
  
  .alert.alert-danger {
    border-color: rgba(220, 53, 69, 1);
    
    .alert-icon {
        background-color: red;
        color:white;
    }
  }
  
  .alert.alert-success {
    background-color: rgba(227, 253, 235, 1);
    border-color: rgba(38, 179, 3, 1);
    color: rgba(60, 118, 61, 1);
    
  }
  
  