@import "xmaslights";
@import url('https://fonts.googleapis.com/css2?family=Material+Icons&family=Roboto:ital,wght@1,900&family=Noto+Serif+SC:wght@900&family=Freehand&family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Poppins:wght@400;500&family=Racing+Sans+One&display=swap');


$font-anton: 'Anton', sans-serif;
$font-roboto:'Roboto', sans-serif;
$font-racingSansOne: 'Racing Sans One', cursive; //bold italic font
$font-handwriting: 'Freehand', cursive;
$font-news: 'Abril Fatface', cursive;//Time new roman like font - brodayway like
$font-bebas: 'Bebas Neue', cursive;
$font-chiense-noto: 'Noto Serif SC', serif; //chinese font
$font-title: $font-anton; 
/*
//Default HBC Theme
    $default-color: #39034b;;//easter pink
    $default-highlight-color: #2b0239;
    $nav-bar-color:$default-color; 
    $booking-tbl-hightlight-color: $default-highlight-color;

    $hero-color1: #39034b;
    $hero-color2: #39034b;
    $hero-color3: #751795;
    $hero-color4: #23d5ab;
    $homepage-hero-gradient: linear-gradient(180deg, rgba(57,3,75,1) 0%, rgba(68,3,89,1) 35%, rgba(98,3,130,1) 100%);
    $homepage-hero-bg-img: '';
    $homepage-intro-minheight: 430px;
    $homepage-intro-shade-color:rgba(0,0,0,0.5);
    $homepage-intro-bg: url(../assets/img/banners/jumpsmashbg.jpg);
    $homepage-intro-color:#fff;
    $homepage-hero-bg-img: url(../assets/img/banners/eastereggs.jpg)!important;
    $offline-quote-bg-color: #000;

    //dashboard profile card
    $profile-bg-img-url: url("../assets/img/banners/profilecardBG.jpg");
    $profile-card-bg-color:#fff;
    $profile-card-text-color: #000;
    $profile-button-color: #33902b;
    $profile-button-highlight-color: #1f551b;
    $profile-link-bg-color: #ebfbeb;
    $profile-link-bg-hover-color: #71b771;

    //footer
    $footer-bg-color: #222222;
    $footer-text-color: #ccc;
    $footer-real-bg-color: #161616;
    $footer-real-text-color: #ccc;
//End of Default HBC Theme
*/


//Easter Pink Theme
    $default-color: #dd358a;//easter pink
    $default-highlight-color: #c52274;
    $nav-bar-color:$default-color; 
    
    $booking-tbl-hightlight-color: $default-highlight-color;

    $hero-color1: #2a8bd2;
    $hero-color2: #dd358a;
    $hero-color3: #df5099;
    $hero-color4: #FEFFA2;
    $homepage-hero-gradient: linear-gradient(180deg, rgba(57,3,75,1) 0%, rgba(68,3,89,1) 35%, rgba(98,3,130,1) 100%);
    $homepage-hero-bg-img: '';
    $homepage-intro-minheight: 430px;
    $homepage-intro-color:#fff;
    $homepage-intro-shade-color:rgba(0,0,0,0.6);
    $homepage-intro-bg: url(../assets/img/banners/easterBG.jpg); //1138 x 450
    $offline-quote-bg-color: $nav-bar-color;

    //dashboard profile card
    $profile-bg-img-url: url("../assets/img/banners/profilecard-easter-bg.jpg");
    $profile-card-bg-color:#f16bae;
    $profile-card-text-color: #fff;
    $profile-button-color: $default-color;
    $profile-button-highlight-color: $default-highlight-color;
    $profile-link-bg-color: #fb48a3;
    $profile-link-bg-hover-color: $default-highlight-color;

    //footer
    $footer-bg-color: #dd4593;
    $footer-text-color: #ededed;
    $footer-real-bg-color: $nav-bar-color;
    $footer-real-text-color: #ededed;
//Easter Pink Theme

/****** Default Overwrites ********/

// Angular Material Overwrites

.mat-dialog-container {
    padding: 5px!important;
}