<div class="container-xl">
  <div class="row light">
    <div class="col">
      <p>
        God mode can full control the bookings, current and past.<br />
        1. remote/add user at anytime<br />
        2. change payment method<br />
        3. mark a user as unpaid<br />
        3. lock/unlock <br />
      </p>
      <h1>Bookings Management</h1>
      <mat-form-field appearance="fill">
        <mat-label>Date range</mat-label>
        <select matNativeControl required>
          <option value="volvo">Current week</option>
          <option value="saab">Last 5 weeks</option>
          <option value="mercedes">Last 10 weeks</option>
          <option value="audi">Last 21 weeks</option>
          <option value="audi">Last 52 weeks</option>
          <option value="audi">Last 104 weeks</option>
          <option value="audi">All</option>
          <option value="audi">Unlocked</option>
        </select>
      </mat-form-field>
    </div>
  </div>
  <div class="row light">
    <div class="col">
      <mat-tab-group>
        <mat-tab label="TUE, Mar 2, 2021 ">
          <h3>
            <a href="#"><i class="cil-lock-locked"></i></a>
            <a href="#" data-toggle="modal" data-target="#printModal"
              ><i class="cil-print"></i
            ></a>
          </h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">User</th>

                <th scope="col">Payment</th>
                <th scope="col">
                  <a href="#" data-toggle="modal" data-target="#addPlayerModal"
                    ><i class="cil-plus"></i
                  ></a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  1 Kevin W ($110)
                  <i class="cil-description" title="adfasf"></i>
                </th>

                <td>
                  <a href="#" data-toggle="modal" data-target="#paymentModal"
                    ><i class="cil-credit-card"></i
                  ></a>
                </td>

                <td><i class="cil-minus"></i></td>
              </tr>
              <tr>
                <th scope="row">2 Josh ($80)</th>

                <td>
                  <a href="#" data-toggle="modal" data-target="#paymentModal"
                    ><i class="cil-dollar"></i
                  ></a>
                </td>
                <td><i class="cil-minus"></i></td>
              </tr>
              <tr>
                <th scope="row">3 Indian Bro</th>

                <td>
                  <a href="#" data-toggle="modal" data-target="#paymentModal"
                    ><i class="cil-face-dead" title="unpaid"></i
                  ></a>
                </td>
                <td><i class="cil-minus"></i></td>
              </tr>
              <tr>
                <th scope="row">Total</th>
                <td colspan="3">$300 Credit, $60 Cash</td>
              </tr>
              <tr>
                <th scope="row" colspan="4">Waiting List</th>
              </tr>
              <tr>
                <th scope="row">1 Alex</th>

                <td>
                  <a href="#" data-toggle="modal" data-target="#paymentModal"
                    ><i class="cil-credit-card"></i
                  ></a>
                </td>
                <td><i class="cil-minus"></i></td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab label="FRI, Mar 2, 2021">
          <h3>
            <a href="#"><i class="cil-lock-locked"></i></a>
            <a href="#" data-toggle="modal" data-target="#printModal"
              ><i class="cil-print"></i
            ></a>
          </h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">User</th>

                <th scope="col">Payment</th>
                <th scope="col">
                  <a href="#" data-toggle="modal" data-target="#addPlayerModal"
                    ><i class="cil-plus"></i
                  ></a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  1 Kevin W ($110)
                  <i class="cil-description" title="adfasf"></i>
                </th>

                <td>
                  <a href="#" data-toggle="modal" data-target="#paymentModal"
                    ><i class="cil-credit-card"></i
                  ></a>
                </td>

                <td><i class="cil-minus"></i></td>
              </tr>
              <tr>
                <th scope="row">2 Josh ($80)</th>

                <td>
                  <a href="#" data-toggle="modal" data-target="#paymentModal"
                    ><i class="cil-dollar"></i
                  ></a>
                </td>
                <td><i class="cil-minus"></i></td>
              </tr>
              <tr>
                <th scope="row">3 Indian Bro</th>

                <td>
                  <a href="#" data-toggle="modal" data-target="#paymentModal"
                    ><i class="cil-face-dead" title="unpaid"></i
                  ></a>
                </td>
                <td><i class="cil-minus"></i></td>
              </tr>
              <tr>
                <th scope="row">Total</th>
                <td colspan="3">$300 Credit, $60 Cash</td>
              </tr>
              <tr>
                <th scope="row" colspan="4">Waiting List</th>
              </tr>
              <tr>
                <th scope="row">1 Alex</th>

                <td>
                  <a href="#" data-toggle="modal" data-target="#paymentModal"
                    ><i class="cil-credit-card"></i
                  ></a>
                </td>
                <td><i class="cil-minus"></i></td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab label="SAT, Mar 2, 2021">
          <h3>
            <a href="#"><i class="cil-lock-locked"></i></a>
            <a href="#" data-toggle="modal" data-target="#printModal"
              ><i class="cil-print"></i
            ></a>
          </h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">User</th>

                <th scope="col">Payment</th>
                <th scope="col">
                  <a href="#" data-toggle="modal" data-target="#addPlayerModal"
                    ><i class="cil-plus"></i
                  ></a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  1 Kevin W ($110)
                  <i class="cil-description" title="adfasf"></i>
                </th>

                <td>
                  <a href="#" data-toggle="modal" data-target="#paymentModal"
                    ><i class="cil-credit-card"></i
                  ></a>
                </td>

                <td><i class="cil-minus"></i></td>
              </tr>
              <tr>
                <th scope="row">2 Josh ($80)</th>

                <td>
                  <a href="#" data-toggle="modal" data-target="#paymentModal"
                    ><i class="cil-dollar"></i
                  ></a>
                </td>
                <td><i class="cil-minus"></i></td>
              </tr>
              <tr>
                <th scope="row">3 Indian Bro</th>

                <td>
                  <a href="#" data-toggle="modal" data-target="#paymentModal"
                    ><i class="cil-face-dead" title="unpaid"></i
                  ></a>
                </td>
                <td><i class="cil-minus"></i></td>
              </tr>
              <tr>
                <th scope="row">Total</th>
                <td colspan="3">$300 Credit, $60 Cash</td>
              </tr>
              <tr>
                <th scope="row" colspan="4">Waiting List</th>
              </tr>
              <tr>
                <th scope="row">1 Alex</th>

                <td>
                  <a href="#" data-toggle="modal" data-target="#paymentModal"
                    ><i class="cil-credit-card"></i
                  ></a>
                </td>
                <td><i class="cil-minus"></i></td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="row light">
    <div class="col"></div>

    <div class="col"></div>

    <div class="col"></div>
  </div>
</div>

<!-- Modals -->

<div
  class="modal fade"
  id="addPlayerModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Player</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="example-form">
          <p>
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input matInput placeholder="typeahead" />
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Payment method</mat-label>
              <select matNativeControl required>
                <option value="volvo">Credit</option>
                <option value="saab">Cash</option>
                <option value="mercedes">Bank Transfer</option>
                <option value="audi">Unpaid</option>
              </select>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="example-full-width">
              <mat-label>Notes</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </p>
        </form>
      </div>
      <div class="modal-footer">
        <button mat-button data-dismiss="modal">Cancel</button>

        <button mat-raised-button color="primary">Add</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="paymentModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Change Payment Method
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-form-field appearance="fill">
          <mat-label>Payment method</mat-label>
          <select matNativeControl required>
            <option value="volvo">Credit</option>
            <option value="saab">Cash</option>
            <option value="mercedes">Bank Transfer</option>
            <option value="audi">Unpaid</option>
          </select>
        </mat-form-field>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="printModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Printer Friendly</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Printer version is for copying to wechat</p>

        <h2>TUE, Mar 2, 2021 8-11PM</h2>
        <ul>
          <li>1. Kevin W</li>
          <li>2. Luc</li>
          <li>3. Josh</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
