<div class="container">
<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="card">
      <div class="card-body p-4">

        <h2>Create new booking - GOD ONLY FUNCTION!</h2>

        <mat-form-field appearance="fill">
          <mat-label>Booking Dates</mat-label>
          <mat-select [(ngModel)]="selectedFutureDate">
            <mat-option *ngFor="let d of futureBookingDates" [value]="d">{{d | date:'EE dd/MM/yyyy'}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="createBookingClicked()">Create</button>

      </div>
    </div>

  </div>
</div>


<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="card">
      <div class="card-body p-4">
        <h2>{{group.eventStartDay}} Bookings</h2>
        <div>{{committeesDump}}</div>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.eventStartDateTime.toDate() | date: "EE dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="isLocked">
          <th mat-header-cell *matHeaderCellDef>Locked</th>
          <td mat-cell *matCellDef="let element">
            {{ element.isLocked ? 'Locked' : 'Open' }}
          </td>
        </ng-container>


        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-button routerLink="/admin/bookingdetails/{{ element.docId }}">View</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      </div>
    </div>
  </div>
</div>

