
<div class="container-xl">
    <div class="row">
        <div class="col">
            <h1>Bookings Management</h1>
            Week <input type=text/>
        </div>
    </div>
    <div class="row light">
        <div class="col">
        

            <h3>TUE, Mar 2, 2021 </h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">User</th>
                    <th scope="col">Payment</th>
                    <th scope="col"><i class="cil-plus"></i></th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Kevin W ($110)</td>                   
                    <td><i class="cil-credit-card"></i></td>
                    <td><i class="cil-minus"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Josh ($80)</td>                   
                    <td><i class="cil-dollar"></i></td>
                    <td><i class="cil-minus"></i></td>
                  </tr>
                  <tr>
                      <th scope="row">Total</th>
                      <td colspan="3">$300 Credit, $60 Cash</td>
                  </tr>
                  
                </tbody>
              </table>
        </div>

        <div class="col">
            <h3>FRI, Mar 5, 2021 </h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">User</th>
                    <th scope="col">Payment</th>
                    <th scope="col"><i class="cil-plus"></i></th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Kevin W ($110)</td>                   
                    <td><i class="cil-credit-card"></i></td>
                    <td><i class="cil-minus"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Josh ($80)</td>                   
                    <td><i class="cil-dollar"></i></td>
                    <td><i class="cil-minus"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">Total</th>
                    <td colspan="3">$300 Credit, $60 Cash</td>
                </tr>
                </tbody>
              </table>
        </div>

        <div class="col">
            <h3>SAT, Mar 6, 2021 </h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">User</th>
                    <th scope="col">Payment</th>
                    <th scope="col"><i class="cil-plus"></i></th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Kevin W ($110)</td>                   
                    <td><i class="cil-credit-card"></i></td>
                    <td><i class="cil-minus"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Josh ($80)</td>                   
                    <td><i class="cil-dollar"></i></td>
                    <td><i class="cil-minus"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">Total</th>
                    <td colspan="3">$300 Credit, $60 Cash</td>
                </tr>
                </tbody>
              </table>
        </div>

    </div>
</div>