h1 {
    color:#fff;
    margin:0 auto;
    padding:20px 0 20px 0;
    text-align: center;
}

table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  h2 {
    margin-left: 10px;
  }
  .scheduleHero {
    min-height: 300px;
    //padding:30px 20px;
    background: url(https://ik.imagekit.io/hbc666/hbc/banner/banner_sWii4VReU.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1667126206625);
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    line-height: 300px;
    text-align: center;

    h1{
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        font-size: 60px;
    }
  }

  .pagebottom {
      min-height: 100px;
  }

  .responsive {
    width: 100%;
    height: auto;
  }