<app-public-header></app-public-header>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="scheduleHero">
        <h1>2022 HBC Open</h1>
        <h2>Dec 11 & 18, 2022 8PM</h2>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Brackets</h2>
            <ul>
              <li>Advanced</li>
              <li>Intermediate</li>
              <li>Novice</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <h2>Competition Format</h2>
            <ul>
              <li>Group stage: round robin, capped at 21 points per game </li>
              <li>Top 2 teams from each group advance to final stage </li>
              <li>Final stage: Single elimination, 21 points with 2 point lead to win, include a bronze match </li>


            </ul>

          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <h2>Intermediate/Novice Draw</h2>
            <img class="responsive" src="/assets/img/hbc-open-2022/Game-By-Group.jpg" />
          </div>
        </div>
      </div>

    </div>

  </div>
</div>



<app-public-footer></app-public-footer>