<app-public-header></app-public-header>

<div class="container">
    <div class="row">
      <div class="col">
        <div class="scheduleHero">
          <h1>2022 HBC Open</h1>
          <h2>Dec 11 & 18, 2022 8PM</h2>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2>Prize</h2>

              <div class="container ml-2">
                <div class="row">
                  <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Advanced Group</h5>
                        <div class="card-text">
                          <ul>
                            <li>Winner: $200</li>
                            <li>Runner Up: $100</li>
                            <li>Bronze: $50</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Intermediate Group</h5>
                        <div class="card-text">
                          <ul>
                            <li>Winner: $150</li>
                            <li>Runner Up: $70</li>
                            <li>Bronze: $30</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Novice Group</h5>
                        <div class="card-text">
                          <ul>
                            <li>Winner: $100</li>
                            <li>Runner Up: $50</li>
                            <li>Bronze: $20</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <h2>Competition Format</h2>
              <ul>
                <li>Group Stage: Round Robin - Top 2 teams in each group advanced to final stage</li>
                <li>Final Stage: Single Elimination</li>
              </ul>
    
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <h2>Intermediate/Novice Draw</h2>
              <img src="/assets/img/hbc-open-2022/Game-By-Group.jpg" />
            </div>
          </div>
        </div>

      </div>

    </div>
</div>



<app-public-footer></app-public-footer>