<app-public-header></app-public-header>

<div class="container">
  <div class="row">
    <div class="col">

      <img class="responsive" height="300px"
        src="https://ik.imagekit.io/hbc666/hbc/banner/banner_sWii4VReU.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1667126206625" />

      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Brackets</h2>
            <ul>
              <li>Advanced</li>
              <li>Intermediate</li>
              <li>Novice</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h2>Competition Format</h2>
            <ul>
              <li>Group stage: round robin, capped at 21 points per game </li>
              <li>Top 2 teams from each group advance to final stage </li>
              <li>Final stage: Single elimination, 21 points with 2 point lead to win, include a bronze match </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h2>Scoreboard Apps</h2>
            <ul>

              <li>
                <a href="https://apps.apple.com/us/app/super-scoreboard/id1197048725#?platform=iphone">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fbanners%2Fappstore.jpg?alt=media&token=1fa04b0e-db88-4209-9266-e2f1397f4983"
                    alt="app store">
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.kacterlin.iscoreboard&hl=en_AU&gl=US">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/hbclub-919aa.appspot.com/o/assets%2Fbanners%2Fgoogleplaystore.jpg?alt=media&token=343af738-68b2-46ad-8bbd-ec2701f0cd50"
                    alt="google play store">
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <h2>Intermediate Draw</h2>
            <mat-tab-group>
              <mat-tab label="Group A">
                <img class="responsive" src="/assets/img/hbc-open-2022/I-A.jpg" />
              </mat-tab>
              <mat-tab label="Group B">
                <img class="responsive" src="/assets/img/hbc-open-2022/I-B.jpg" />
              </mat-tab>
              <mat-tab label="Group C">
                <img class="responsive" src="/assets/img/hbc-open-2022/I-C.jpg" />
              </mat-tab>
              <mat-tab label="Group D">
                <img class="responsive" src="/assets/img/hbc-open-2022/I-D.jpg" />
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-sm">
            <h2>Novice Draw</h2>
            <mat-tab-group>
              <mat-tab label="Group A">
                <img class="responsive" src="/assets/img/hbc-open-2022/N-A.jpg" />
              </mat-tab>
              <mat-tab label="Group B">
                <img class="responsive" src="/assets/img/hbc-open-2022/N-B.jpg" />
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>

        <div class="row mt-4 mb-4">
          <div class="col-sm">
            <h2>Intermediat & Novice Overview</h2>
            <a class="btn btn-primary" routerLink="/competition/2022/intermediat-novice-draw">Overview</a>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>



<app-public-footer></app-public-footer>